[2015-11-25 15:42] Manduro opened #1 "Malformed bower file"
Thanks for releasing your Ionic version.

I've noticed a missing comma in the bower file. This causes bower to throw an error on installation. Easy fix: add a comma behind the ionic dependency ;)

[code]

[2015-11-25 15:58] Manduro opened #3 "Bootstrap dependency"
Could you please explain what the dependency on Bootstrap is needed for? It seems to me that most of the time when you're using Ionic, you wouldn't want to include Bootstrap as well.

Maybe we can remove this dependency?

[2015-11-26 13:42] twinssbc commented on #1
@Manduro actually I haven't registered this lib on bower, I will  do it during the weekend

[2015-11-26 13:43] twinssbc commented on #1
@Manduro actually I haven't registered this lib on bower, I will  do it during the weekend

[2015-11-26 13:43] twinssbc commented on #1
@Manduro actually I haven't registered this lib on bower, I will  do it during the weekend

[2015-11-26 13:44] twinssbc commented on #3
Yes, since the original version depends on Bootstrap so I didn't take it out.
It should be able to use the Ionic css classes to achieve the same thing.
I will make it work.

[2015-11-26 13:47] Manduro commented on #1
@twinssbc Yes I noticed, that's fine. This just fixes the bower file so in the meantime it can be added using `bower install twinssbc/Ionic-calendar`.

[2015-11-26 13:48] Manduro commented on #3
@twinssbc That would be nice!

[2015-11-26 14:01] Manduro commented on #1
Fixed with #2.

[2015-11-26 14:01] #1 closed

[2015-11-29 13:01] twinssbc commented on #3
@Manduro I have removed the Bootstrap dependency, feel free to test it. Thanks.

[2015-12-01 15:12] Manduro commented on #3
@twinssbc Works great, thanks!

[2015-12-01 15:12] #3 closed

[2015-12-02 13:59] Manduro opened #5 "Feature: clicking empty spot to create new event"
A common UX practice for calendars is to create a new event when clicking an empty spot in the week or day view.

The way I could see this implemented is to add an option called something like `timeslotSelected: function(startTime)`. When a user clicks (or long-presses on touch) an empty spot in the week or day view this function is called and is passed the time of the spot where was clicked.

Thi

[2015-12-03 13:51] twinssbc commented on #5
@Manduro it's a good idea, I will add this feature.

[2015-12-04 09:57] Manduro commented on #5
@twinssbc Or maybe I should just add a click handler to the template like you mentioned here: https://github.com/twinssbc/AngularJS-ResponsiveCalendar/issues/12

[2015-12-06 12:49] twinssbc commented on #5
@Manduro I have added the timeSelected event to week and day view, feel free to have a test.

[2015-12-08 14:36] Manduro commented on #5
@twinssbc Great, thanks! Seems to work fine.

[2015-12-08 14:42] Manduro opened #6 "Pre-render events in previous/next view"
Sorry to bother you again ;).

When switching to the previous or next view, it takes a short time to render the events. I'm thinking the user experience would be greatly improved if the events are already there when switching views. Do you agree?

As the slides are already in the DOM it could be easy to build. I've already looked into it a little bit, and it seems that you're filtering the eventSo

[2015-12-08 15:50] twinssbc commented on #6
@Manduro I'm always happy to help you.
First thing you probably already noted is that the previous and next views don't have the event bound in the templates. So you have to enable that.
Second, as you discovered, in _onDataLoaded function, I compare the event time with some start and end time to only include the events in the range, so you need to change the start and end time to include more eve

[2015-12-08 16:20] Manduro commented on #6
@twinssbc I had already changed the template to bind the data to the previous and next views. This actually *improved* the performance for me, I think because not the whole view has to be re-rendered when the slide changes as per `ng-if="$index===currentViewIndex"`, only the events inside it. The initial render might take longer though. Below is my current template for the week view (which is the

[2015-12-08 23:01] malik022 opened #7 "Syntax Issue?"
https://docs.angularjs.org/error/$parse/syntax?p0=:&p1=not%20a%20primary%20expression&p2=1&p3=::view.dates%5B0%5D.label&p4=::view.dates%5B0%5D.label

Is the error i am getting?

`Syntax Error: Token ':' not a primary expression at column 1 of the expression [::view.dates[0].label] starting at [::view.dates[0].label].`

[2015-12-09 13:24] twinssbc commented on #7
@malik022 :: is the new syntax in Angular 1.3, it means one-time binding. It can improve the performance by reducing a lot of unnecessary watchers.

[2015-12-09 14:27] twinssbc commented on #6
@Manduro Since I can't see your complete code, I can just provide some tips.
1. You need to make sure the data sent from the backend also includes multiple weeks data
2. Check normalEventInRange or allDayEventInRange are true in _onDataLoaded method, which means there are some events left after filtering.
3. The events are placed using position:absolute, not sure if this could cause the events not

[2015-12-15 11:26] GopinathKaliappan opened #9 "How to move to the next month using button instead of Slide ....."
How to move to the next month using button

<ion-slide-box class=\"monthview-slide\" on-slide-changed=\"slideChanged($index)\" show-pager=\"true\" does-continue=\"true\"\n" +

I'm Trying to use Button but dint working ...

 "<button type='button' class='btn btn-default btn-sm' ng-click=\"slideChanged($index+1)\" >Next

[2015-12-15 13:33] Manduro commented on #6
@twinssbc I've put some more time into it and have managed to get it working. I only changed the _onDataLoaded method of the week view (aside from the custom template I posted before). You can look into it here: https://github.com/Manduro/Ionic-Calendar/commit/d5a498c91b641915e4dab155e7f2fa44c9aa71af#diff-eb42bd619c59b52cc76cf6a85e5528a8

It might not be a really clean solution, but it works and i

[2015-12-15 13:36] Manduro commented on #9
As noted in the readme (https://github.com/twinssbc/Ionic-Calendar#events) you can broadcast these events to move to the previous or next view:

[code]

[2015-12-15 14:11] twinssbc commented on #9
@GopinathKaliappan  Manduro is correct, feel free to have a try. Thanks.

[2015-12-15 16:11] Manduro opened #10 "Ionic 1.2"
Ionic 1.2 was released in the past week, with many changes and a new slide box component (as quoted below). I will probably check compatibility in a week or two and will try to integrate the new component as well.

<ion-slides options="options" slider="slider">
  <ion-slide-page>
  </ion-slide-page>
</ion-slides>
[code]

[2015-12-16 12:58] twinssbc commented on #10
cool, I will also have a look.

[2015-12-17 13:58] Manduro commented on #9
@twinssbc It is not implemented in this plugin, but in the normal Angular version. #11 has a fix.

[2015-12-18 10:18] Manduro commented on #10
It seems to work fine here! The slide box feels a lot faster even without using the new slider box in the template. Still have to try that.

[2015-12-20 07:57] twinssbc commented on #9
@Manduro @GopinathKaliappan I have added missing event handler for changeDate event. It's included in version 0.1.3, feel free to have a try. Thanks.

[2015-12-23 14:49] cornstar94 opened #12 "showWeeks option"
Hi, I couldn't find the showWeeks option in the calendar-tpls.js file. I wonder if it is still going to be implemented as per the README? thanks.

[2015-12-23 15:08] twinssbc commented on #12
@cornstar94 I removed this option from the pure AngularJS version, the reason is just because I don't want to add extra column in a mobile device.

Feel free to add it according to the pure AngularJS version. If you have any question, feel free to let me know.
https://github.com/twinssbc/AngularJS-ResponsiveCalendar/blob/master/src/rcalendar/calendar.js

[2015-12-26 03:35] aj47 opened #13 "Week View only showing all day row"
When i switch to the week view it is only showing the "allday" row and not the other times is there a parameter i have to change? I am using unmodified versions of the source code

[2015-12-26 09:51] twinssbc commented on #13
@aj47 I guess you put the calendar directive into your existing page? Maybe your existing dom elements have some impact on the rendering of the calendar directive. For example, is it possible, the div wrapping the calendar directive is not high enough to display the rest of the time rows?

[2015-12-28 04:24] BhavanPatel opened #14 "Slide Scroll Left-Right what for up-down?"
Here in Calendar everything is sliding from left-right or right -left in M D W views...
but what I have to do Scroll Up-Down and Down-Up?
What I need to change?

[2015-12-28 12:09] twinssbc commented on #14
@BhavanPatel This directive is built based on ion-slide-box, it doesn't support slide vertically by default.
But I found there's a github repository supporting vertical direction. It might worth to take a look.
https://github.com/smadey/ion.superSliderBox

[2015-12-28 12:25] BhavanPatel commented on #14
Thank You. @twinssbc

[2015-12-28 16:39] Manduro commented on #14
@BhavanPatel Actually, from version 1.2 onwards, Ionic has a new slider component that does support vertical sliding. You can read about it here: http://blog.ionic.io/announcing-ionic-1-2/ at 'New Slide Box'

[2015-12-28 17:28] Manduro commented on #5
@twinssbc There is a bug in this functionality which I'm unable to trace. You can notice it in your demo as well: http://twinssbc.github.io/Ionic-Calendar/demo/#/tab/home

Open the week tab and click some empty spots in the current week. Watch the console logging of the time you clicked and you can see that they don't make sense. When you switch to the next or previous week it all works as expecte

[2015-12-29 07:03] cornstar94 commented on #12
@twinssbc thanks for the clarification. The ionic calendar is by far the best calendar tool I can find for the ionic framework.

However, I would like to know how I can change the templates in the library where ionic-calendar is installed? I tried modifying the templates to suit my needs but it doesnt seem to update on localhost. I am relatively new to ionic and angularjs, so any help would be muc

[2015-12-29 08:34] BhavanPatel commented on #14
Yesss @Manduro  Can you please update calendar with new slider?

[2015-12-29 13:30] Manduro commented on #6
@twinssbc It seems that you aren't interested in adding this to the plugin? That's ok, I'll just keep it in my fork then.

[2015-12-29 13:30] #6 closed

[2015-12-29 13:32] Manduro commented on #10
Ionic 1.2 works fine with the old slide box, and it will be deprecated in 1.3, which will probably take a while. Let's leave it as is for now.

[2015-12-29 13:32] #10 closed

[2015-12-29 13:33] Manduro commented on #14
@BhavanPatel It's currently not a priority for me, so I won't be implementing it soon.

[2015-12-29 13:45] twinssbc commented on #12
@cornstar94 Are you referencing calendar-tpls.js or calendar-tpls.min.js? This js file already contains the template code using the templateCache technique. If you take a look at the gruntfile.js, you will see a step called html2js which converts the template html code to the js code.
If you want to modify the template, you need to run *grunt build-tpls* to generate a new version of minimized js f

[2015-12-29 13:49] Manduro opened #15 "Week/day view events take up the whole hour"
Hi again :)

Currently, when an event starts at e.g. 9.30 AM and end at 10.15 AM. It is displayed for 9.00-11.00 AM. Could we add the functionality to have it start and end at the correct times? I think that would be a great addition.

Cheers!

[2015-12-29 14:11] twinssbc commented on #5
@Manduro Thanks for pointing it out. I have submitted the fix in version 0.1.4. Feel free to have a test. Thanks.

[2015-12-29 14:23] twinssbc commented on #15
@Manduro Actually other people also raised similar question.
IMO, there's some tradeoff to think about here. First, what's the unit of time a cell needs to measure, one hour, 30 mins, 15 mins, or even 1 min?
The smaller granularity, the more cells to display which could impact the performance.
Besides, it doesn't make sense to display an event starts at 9:30 and another event starts at 9:31 at dif

[2015-12-29 14:28] Manduro commented on #5
Works!

[2015-12-29 14:28] #5 closed

[2015-12-29 14:31] Manduro commented on #15
@twinssbc Yes, I understand that trade off. I would personally like 15 minute steps.

But, I think that it won't be needed to display more cells, thus limiting the performance impact. We could just position it at a certain top percentage of the cell and reduce the height, right?

[2015-12-29 15:30] twinssbc commented on #15
@Manduro You are correct. I will add 30 and 15 mins options.

[2015-12-29 16:07] cornstar94 commented on #12
@twinssbc I am referencing to  calendar-tpls.min.js currently. I noticed that I do not have the grunt file in my folders after performing bower install.

I also tried running grunt build-tpls as per your advice but I got the following error:

Fatal error: Unable to find local grunt.
If you're seeing this message, either a Gruntfile wasn't found or grunt
hasn't been installed locally to your projec

[2015-12-29 16:15] twinssbc commented on #14
@Manduro Where did you learn that the new slide box will support vertical sliding?
I know that it's built based on Swiper, and it supports vertical sliding.
But according to the latest doc, it doesn't expose this option.
http://ionicframework.com/docs/api/directive/ionSlideBox/

[2015-12-29 16:19] twinssbc commented on #12
@cornstar94 If you want to modify any code, you should fork it, instead of directly modifying the install version from bower. Then you can generate a new calendar-tpls file and copy it to your current project.

[2015-12-29 16:23] Manduro commented on #14
There is no doc yet for the new slide box. The only docs I could find was in the blog post I linked to. It says that all swiper options are available.

[code]
`The options argument is passed directly to Swiper and follows the official API options. Set a $scope.$watch on slider to get full access to the Swiper object to control the internal API.`

[2015-12-29 16:27] twinssbc commented on #14
@Manduro Nice!

[2015-12-30 07:16] BhavanPatel commented on #14
Hope this will help! @twinssbc @Manduro
must update ionic

[code]

[2015-12-30 09:06] Manduro commented on #15
@twinssbc Very nice!

[2015-12-30 17:06] cornstar94 commented on #12
Ah I see! I'll be sure to try it again.

If you don't mind @twinssbc, could you help me with another minor issue? I am having a little trouble pushing events to my events array in the following code:

    $scope.loadEvents = function () {
            $scope.calendar.eventSource = getEvents();
        };

    function getEvents(object){

            TimeSlotsModel.all()
                .then(functi

[2015-12-31 02:19] twinssbc commented on #12
@cornstar94 If I understand correct, you have two questions.
1. When you insert a record to the events array, the view doesn't display that new event?
This is by design, check out the Note section in the README, you have to manually trigger the eventSourceChanged event.
2. You got some time difference when using timepicker. Is it because of the timezone?

[2015-12-31 08:07] cornstar94 commented on #12
@twinssbc As for question 1, I added in the line
 `$scope.$broadcast('eventSourceChanged',$scope.eventSource);`

and my code is now

      .controller('CalendarCtrl', function ($scope,TimeSlotsModel,$rootScope) {
        var vm = this;

        function goToBackand() {
            window.location = 'http://docs.backand.com';
        }

        function getAll() {
            TimeSlotsModel.all()

[2016-01-01 05:39] twinssbc commented on #12
@cornstar94 Now I understand your scenario. Your events array is not bound to the scope, that's why the view doesn't display the events. It's not related to broadcast the change event.
In
[code]
Directly assign the events array to $scope.calendar.eventSource.

You can first try some mock data to see if the view can display these events. Next, you can integrate with the backend.

[2016-01-01 06:39] cornstar94 commented on #12
Thanks @twinssbc,the events are finally rendering! Do you have any suggestions for my 2nd question?

[2016-01-01 06:46] twinssbc commented on #12
@cornstar94 It's great that hear that you finally make it work. Are you referring to the timepicker question? I didnt use it before, but i'm happy to help. Do you have any working instance to visit so that I can troubleshoot?

[2016-01-01 06:51] cornstar94 commented on #12
Hi @twinssbc, thanks for always replying so quickly. I have managed to solve the timepicker issue because I left out a getUTCHours function in my code.

Thank you very much and I hope you have a great 2016. :)

[2016-01-01 06:55] twinssbc commented on #12
@cornstar94 Great, Happy New Year!

[2016-01-03 14:03] #12 closed

[2016-01-06 15:55] twinssbc commented on #15
@Manduro I committed the change to allow 15 and 30 mins steps in a separate branch
https://github.com/twinssbc/Ionic-Calendar/tree/step

Could you give it a try to see if it works as expected? Thanks.

[2016-01-06 18:04] Arxi opened #16 "Changing current date via ng-model of calendar doesn't work (a.k.a. "Today button doesn't work")"
For example, take the official demo:
http://twinssbc.github.io/Ionic-Calendar/demo/#/tab/home

1. load the demo as it is, in month view.
2. change the month - e.g. slide to left or right (once or multiple times, it doesn't matter)
3. press "Today" button. This basically does ` $scope.calendar.currentDate = new Date();` in the controller the `calendar.currentDate` is bound to `<calendar>` element v

[2016-01-07 00:13] twinssbc commented on #16
@Arxi Thanks for reporting this, I think it's a bug, I will fix it asap.

[2016-01-07 12:19] Manduro commented on #15
@twinssbc It seems to be running great! Thanks again. I will report on any issue I run into.

[2016-01-09 07:38] twinssbc commented on #16
@Arxi I have submitted the fix in version 0.1.5. Could you have a check? Thanks.

[2016-01-09 09:25] #7 closed

[2016-01-09 09:26] #9 closed

[2016-01-13 15:12] Arxi commented on #16
Sorry for the delay! I can confirm that the calendar behaves correctly in my setup in version 0.1.5, and the public demo seems to work correctly too.

Thank you for your time and hard work!

[2016-01-13 15:54] #16 closed

[2016-01-14 03:01] antoine92190 opened #17 "Ionic Grid System - col & row"
Hi,
Thank you for sharing this awesome work!
I see that you are using tables in your html.
I played with your code and implemented the ionic grid system instead.
I think it is simpler and way more flexible. Thus, rows and columns are evenly distributed.
Do you think you could update your work and use the ionic grid system? I can help you with it if you want.
In order to customize your calendar in

[2016-01-18 13:10] twinssbc commented on #17
@antoine92190 Thanks for your suggestion. I know that grid system is powerful, you can easily control the span and offset of a cell, but in this calendar scenario, what's the benefit can grid system bring comparing to a normal table?

[2016-01-18 14:07] antoine92190 commented on #17
@twinssbc The problem is when you look closely at the month view, the columns’ width is not even. I’ll admit I care a lot about details, but that’s how you get an awesome product at the end of the day.
For exemple in the month view, if I want to give a border-radius background-color around day numbers which contain an event, this issue becomes really obvious.

Another problem is that day, week and

[2016-01-18 15:03] twinssbc commented on #17
@antoine92190 Thanks for pointing out the issues. I like people who are "picky" to the product:)
The reason I'm not keen on using grid system is because as you may know this calendar is coming from my another project which is a general Angular Responsive calendar. And I don't want to depend on other css framework such as Bootstrap, that's why I don't use the Bootstrap grid system either.
I think t

[2016-01-18 15:26] antoine92190 commented on #17
@twinssbc I understand, and I also don't like using bootstrap in ionic.
But you did a great job by creating a specific Ionic version, so taking advantage of ionic features such as its own grid system is, in my opinion, what you are aiming for :)
Anyway, as long as those issues are solved, any method is good!
Thanks again for solving it and especially for your awesome work!!

[2016-01-24 15:26] #15 closed

[2016-01-25 12:37] twinssbc commented on #17
@antoine92190 I have fixed the issue by just applying table-fixed style to the table.
Feel free to have a test and let me know if any other place requires modification. Thanks.

[2016-01-27 13:31] fonini opened #18 "Time format"
Hi, first of all, thanks for your awesome work!

In the week and day modes, the time on the left column appears like 8am, 9pm etc.
But here in Brazil we use 8 and 21, respectively.

Is there a way to show the time based on locale?
I'm using the Brazilian locale and month and day names are automatically translated.

[2016-01-27 17:51] fonini opened #19 "Start and end hours on week view and day view"
It would be good if there's an option to set the calendar start and end hours.
i.e.: Instead of drawing 24 hours, you could only show from 8am to 6pm.

[2016-01-28 12:45] twinssbc commented on #18
@fonini Currently the hour column in the week and day view does not have the formatter applied.
It uses below logic to generate the content.
If you only want to support Brazilian locale, you can directly modify the logic.
But I think your requirement is valid, I will add a customizable formatter.

[code]

[2016-01-28 12:48] twinssbc commented on #19
@foini I think this requirement is not a common one and requires fairly big modification, so I won't add that option. Feel free to fork and modify it to meet your needs. If you meet any issue, feel free to let me know. Thanks.

[2016-01-28 13:35] antoine92190 commented on #17
Thanks, it works nicely!
There is only one other issue: day, week and month tables are using the same "table-bordered" property.
For exemple, if I want to remove month borders, it also removes day and week borders.
It would be nice to use different properties for each view, for exemple: table-bordered-day, table-bordered-week and table-bordered-month. Would you mind setting that up?
And again, tha

[2016-01-29 00:16] twinssbc commented on #17
@antoine92190 There are already other css classes applied to the tables.
monthview-datetable, weekview-header, weekview-allday-content-table, etc.
I will remove the table-bordered class and add the border to the above classes.

[2016-01-29 00:23] twinssbc commented on #19
@fonini
There are other people asking similar questions, you may contact with them.
https://github.com/twinssbc/AngularJS-ResponsiveCalendar/issues/32
You can also add some grey boxes on the out-of-business hours to mark these time as disabled.

[2016-01-29 03:18] antoine92190 commented on #17
Great thank you!

[2016-01-30 01:52] twinssbc commented on #17
@antoine92190 I tried to move the style in table-bordered into other classes applied to the tables.
I found it's not just a small change.
I have some styles defined as below.
[code]
If I replace table-bordered with 7 other classes (monthview-datetable, weekview-header, etc) one by one, the css size is increased a lot and I think it will also impact the performance as browser has more selector rule

[2016-01-30 02:19] twinssbc commented on #18
@fonini I have made the hour column accept a date formatter (formatHourColumn), by default the value  is 'ha'. The change is included in 0.1.8 version. Feel free to have a try.

[2016-01-31 22:11] antoine92190 commented on #17
@twinssbc That does the trick! Thanks a lot

[2016-01-31 23:18] antoine92190 commented on #17
@twinssbc Last quick question: are you planning to pull the "step" branch into master?

[2016-02-01 00:01] twinssbc commented on #17
@antoine92190 yes, I will.

[2016-02-01 11:17] fonini commented on #18
@twinssbc Worked like a charm! Thank you so much!
p.s.: Any plans to merge the `step` branch into master? It would be great.

[2016-02-01 11:59] twinssbc commented on #18
@fonini yes, I will merge the step branch into master, it's on my list.

[2016-02-07 15:46] #17 closed

[2016-02-07 16:18] antoine92190 opened #20 "Understanding your code better - List and Year views"
Hello again!
I'm trying to customize your Week view, and create a List and Year views on top of your calendar.
I'd like to have a better understanding of your code in order to take a good advantage of it.

=> List view: I'm trying to get all events in a single page, and order those by days.

<img width="377" alt="list" src="https://cloud.githubusercontent.com/assets/16256207/12873479/0fbe3426-cdbe

[2016-02-09 21:42] raphagodoi opened #21 "i18n - Translations"
we need to implement this...

[2016-02-09 22:10] raphagodoi commented on #18
@fonini Conseguiu traduzir as outras strings de alguma forma??? Sun, Mon, etc...

[2016-02-09 23:36] fonini commented on #18
Importei o arquivo de locale pt-BR e traduziu tudo automaticamente
Em 09/02/2016 20:10, "raphagodoi" <notifications@github.com> escreveu:

[2016-02-10 16:09] raphagodoi commented on #18
@fonini Que arquivo? kkk não vi nada disso no projeto, ou eu estou louco ou não sei..

[2016-02-10 16:19] fonini commented on #18
haha...Sem problemas. É um arquivo do Angular mesmo.

https://github.com/angular/angular.js/blob/master/src/ngLocale/angular-locale_pt-br.js

[2016-02-10 16:50] raphagodoi commented on #18
Ahhh Deu certinho, muito obrigado jovem!

[2016-02-12 03:43] twinssbc commented on #20
@antoine92190
Sure. I'd like to help you.
The view switching is controlled using **ng-switch-when** in the calendar.html, so you just need to add your own directive.
**CalendarController** is the main controller which contains some common logic, for example, slide change callback, place event logic.
You will see in some methods the main controller is calling the method having the underscore prefix

[2016-02-13 02:05] joseangelmr opened #22 "Color Events"
Hi!,
Thanks for your work, very good.
This version can add colors to events?. any solution?

Best regards

[2016-02-13 04:07] twinssbc commented on #22
@joseangelmr I guess you want to use different colors on different events?
I think you have to add some customized css classes in the template html files.

[2016-02-13 04:32] twinssbc commented on #17
@antoine92190 The step branch has been merged to master, it's included in version 0.2.0.

[2016-02-13 04:33] twinssbc commented on #18
@fonini The step branch has been merged to master, it's included in version 0.2.0.

[2016-02-17 13:30] Manduro opened #23 "Events spanning multiple days"
Hi,

I've noticed events that span multiple days are not rendered correctly. Is this correct? Do you think this is something that can be easily added?

[2016-02-17 14:42] twinssbc commented on #23
@Manduro Could you give an example? It should render correctly.

[2016-02-17 15:20] Manduro commented on #23
@twinssbc Whoops, something else was wrong. Works now, sorry for bothering you ;).

[2016-02-17 15:20] #23 closed

[2016-02-17 20:49] antoine92190 commented on #20
Thanks a lot for your explanation, I'll work on that and maybe ask you more later. Thanks again!

[2016-02-24 15:51] mlgwebiz commented on #22
Hi,

I have colors coming from JSON String, how would you suggest parsing them to different events?

[2016-02-25 12:53] twinssbc commented on #22
@mlgwebiz what kind of color format in your JSON string?If the format can be directly used by css.
Then you can bind to the style attribute directly. For example, for a month view cell, you can do something like below:
[code]

I assume the colors are contained in the event array coming from the backend? I suggest separate the view and the data so that you can change the look and feel without chang

[2016-02-25 16:29] joseangelmr opened #24 "Templates"
Hello,

I'm using the Calendar demo, there is a way a use calendar.tpls.js?, i.e. use templates.html directly. Make changes in view of calendar.tpls.js is tedious.

Thanks you

[2016-02-26 12:58] twinssbc commented on #24
@joseangelmr The calendar.tpls.js stores all the template  html to the templateCache service, so that you don't need to on demand load these htmls. If you prefer loading html files on demand, that's also possible. You just need to make sure the html files are under the correct path so that the browser won't return 404 error.

[2016-03-03 14:07] TomCosta opened #25 "How to install the Ionic-Calendar in a working App"
Hello!
You did a very nice Calendar!
So my question is how may I install it on another working template.
I'm using the Ionic-Material template, and would like to add this Calendar to it.
So I already have an app.js with the routs, and already have the its own controllers.
I think it could be simple to do, but I don’t know how.
Please, can you give me a tip?
Thanks!

[2016-03-04 01:14] TomCosta commented on #18
Eu ainda não entendi como fazer isto funcionar num template normal...
Alguma dica para instalar?
Valeu!

[2016-03-05 02:47] twinssbc commented on #25
@TomCosta you can use bower install to install the calendar control. It will download all js and css files into your bower_components folder by default, so it won't mess up your existing code.
Then you just need to refer to the demo/index.html to include the necessary js/css files and insert the calendar directive in your html file.

[2016-03-08 00:09] twinssbc commented on #21
@raphagodoi Could you give an example? Which part needs i18n?

[2016-03-08 20:03] TomCosta commented on #25
Thanks for the answer! But It's really difficult to understand.
I'm using Ionic, so after install using bower my files went to folder www/lib/ionic-calendar/demo...
How may I refer to "demo/index.html", if I already have an www/index.html and js/css files in my existing codes? I have to rename or replace it?
In my www/js/app.js file I have routes and controllers like this:
`.state('app.agenda', {

[2016-03-09 00:35] twinssbc commented on #25
@TomCosta The demo page just shows you how to use calendar in Ionic framework. You should add the calendar in your own html files.
As you can see, in demo/index.html page I add below lines in templates/home.html.

[code]

You can add similar code in your own html file.
And the demo page also shows how to add reference to **calendar.css** and **calendar-tpls.js**, you also need to do the same in yo

[2016-03-11 03:03] ntuanb opened #26 "Week View Daylight Savings"
Hi,

Currently I'm having a problem where the events displayed on the week the daylight savings occur, the time change hour is added onto events as soon as the daylight savings occur for all events.

This causes an slight hr problem for events in that week with + or - the daylight savings hour.

Would you know the best solution for this?

I've looked into the code and fixed it using a few checks b

[2016-03-11 10:37] Manduro opened #27 "Add sync of scroll position across slides"
Hi,

I've just added two nice features to my fork which you might want to know about:

1. It adds syncing of scroll position across slides in the weekview. When you change weeks the position stays the same.
2. It also adds a `scrollY` setting which allows to set an initial scroll position. This allows to start the view at for example 8 am instead of 0 am.

You can look at the code here:
https://gi

[2016-03-11 12:28] twinssbc commented on #26
@ntuanb Do you store the time as UTC time? It shouldn't be impacted by DST.

[2016-03-11 12:29] twinssbc commented on #27
@Manduro Sounds like useful features, I will take a look. Thanks!

[2016-03-16 08:19] eddippo opened #28 "Json feed"
How can I feed the calendar with an external Json file with events?
Thanks in advance

[2016-03-16 11:13] Manduro commented on #26
@twinssbc I'm having the same issue. The events in the calendar are suddenly positioned an hour later when I switch from the week of 21-27 march, to the week of 28 march-3 april. DST changes in the night between the 26th and 27th.

Time is stored as UTC time.

[2016-03-16 12:58] twinssbc commented on #28
@eddippo if the json file is stored in the server side, then your back end code needs to read it and send to the backend. If the json file is stored in the client side, then you need to call some File api to read the file into an array and pass it to the calendar.

[2016-03-16 13:10] Manduro commented on #26
@twinssbc My mistake, it seems my issue is out of the scope of this plugin. I was generating recurring events in UTC time without accounting for the DST.

[2016-03-16 13:31] twinssbc commented on #26
@Manduro Yeah, it requires extra logic. It's not just the recurring events, I guess the normal events created previously are also shifted in the calendar.

[2016-03-16 15:37] twinssbc commented on #26
@Manduro I think you need to store both UTC time and creator's time zone.

[2016-03-16 18:57] eddippo commented on #28
Ok....I have a database in a server side with a php requesting a mysql query. I get all data in a json object through $http.get. In order to pass mysql datestamp to java i'm using UNIX_TIMESTAMP() function in mysql query.
The query is successfully loaded into events array with the same format (I think so) as shown in createRandomEvents() function in example. The issue is that object is logged into

[2016-03-17 00:26] twinssbc commented on #28
@eddippo If you pass allDay event, you need to specify UTC time for startTime and endTime.
Also allDay events are displayed at the top of the calendar, not at the bottom part which has hourly rows.

[2016-03-17 16:15] eddippo commented on #28
So....Which method do you think it would be the best practice to convert mysql datestamp to this calendar format?

[2016-03-17 18:45] eddippo commented on #28
Is there any example with json feeding?

[2016-03-18 00:20] twinssbc commented on #28
@eddippo It depends on your backend, if your backend returns the date time as a string or epoch. You need to use the javascript function to convert it into javascript Date object.
Once you got that javascript Date object, below is the method you can format it as UTC time.

[code]

There's no example about how to retrieve json response, as this is out of scope. But I think your method is correct. J

[2016-03-19 10:14] eddippo commented on #28
Ok.....I think that the problem is not all data received from my server side query, the response is a well formed json file..I tried this to see what was happening, with the function in the script createRandomEvents() in this way:
`function loadAgenda() {
            $http.get('https://www.anything.com/calendar_connection.php')
            .success(function(data){
             var events = [];

[2016-03-19 13:17] twinssbc commented on #28
@eddippo This is because you actually wrap the return events statement in your success callback function, it's no longer the return result of your loadAgenda function. So that events array isn't assigned to your scope variable.
I assume you assign the return variable of loadAgenda to a scope variable?
For example,
[code]

Since now you make your function behave in async way, you need to directly c

[2016-03-19 17:42] eddippo commented on #28
OK....I'm starting to see ot clear the easiest way to do was
`$scope.calendar.eventSource = events;`
into my success callback and now it works fine....sorry I'm a newbie programmer and I  like very much this framework, but sometimes is find to understand step by step the whole thing.
My following step is to make it a CRUD powered calendar; I've been reading api documentation and I think the best w

[2016-03-20 02:03] twinssbc commented on #28
@eddippo Here is a detailed explanation about the difference between .factory and .service.
http://stackoverflow.com/questions/14324451/angular-service-vs-angular-factory

[2016-03-20 12:40] eddippo commented on #28
Thanks a lot!

[2016-03-20 12:40] #28 closed

[2016-04-19 12:29] fonini opened #31 "Step in week view"
Hi, I've noticed the following code on week view:

[code]

I tried to change it to 3 to show only 3 days of the week, but no success.
Can you look into it?
Thanks!

[2016-04-19 14:26] twinssbc commented on #31
@fonini Sorry, the step cannot control the days displayed for one week. It's only used to calculate the date when switching to previous/next date range. There are always 7 days displayed for one week.
If you really want to change the days of one week, you need to modify all places similar to  below line

[code]

[2016-04-20 14:34] ravindranpandu opened #32 "queryMode is undefined even after overwriting the default value to 'remote'"
Hi, The queryMode did not work, i tried using query-mode='remote' attribute in the calendar directive, when i debug the self.queryMode it shows undefined always and hence fallbacks to local.

`<calendar query-mode="remote"></calendar>`

[2016-04-20 14:46] twinssbc commented on #32
@ravindranpandu It's not set directly in the directive, you need to assign it to a scope variable and set it in the controller.

[2016-04-20 15:32] ravindranpandu commented on #32
@twinssbc it works now thanks, i have a weird issue now, when the range is changed the range-changed="" event is fired but the values are not updated in the calendar.

`$scope.$parent.$watch($attrs.eventSource, function (value) {
       self.onEventSourceChanged(value);
 });`

when i add debugger to the watch code, it only triggers for the first time, after range-change when i try to reassign the

[2016-04-20 15:43] twinssbc commented on #32
@ravindranpandu Does Events.all() always return the same object reference?
As I mentioned in the README, if you only modify the element in the eventSource array, the controller won't get notified. You need to manually broadcast the 'eventSourceChanged' event.

[code]

[2016-04-20 15:52] ravindranpandu commented on #32
@twinssbc it works!!, thank you so much, as you guessed i am modifying the element in the eventSource array thats why the calendar is not updated with new events. calling the eventSourceChanged broadcast solves my problem :)

[2016-04-20 16:30] #32 closed

[2016-04-21 08:36] spi7fire opened #33 "method to select date from code?"
Is there a method to change the date on calendar from code? i'd like to add a button that will return the user to current date
or maybe you can add support for such option?
thanks

[2016-04-21 09:42] spi7fire commented on #33
found how to to it. simply by changing the model's currentDate value

[2016-04-21 09:42] #33 closed

[2016-04-27 11:12] Alfonsibo opened #34 "Translate option."
Hi, how can i translate the title of days and month in the calendar-mode month from English to another languages?. I am trying to translate in the fullcalendar lib but can't do this right. Can someone help me with a simple example?

Thank you!

[2016-04-27 13:26] twinssbc commented on #34
@Alfonsibo I don't quite get which part of the title do you need to translate.
In the month view, it has below three options can control the text displayed in the month view
1. formatMonthTitle: control the title of that view, the default value is 'MMMM yyyy'
2. formatDay: control the text displayed for each day, the default value is 'dd'
3. formatDayHeader: control the text displayed in the heade

[2016-04-27 13:56] Alfonsibo commented on #34
I fixed my problem. Just want translate the text in viewTitle from April to Abril in the month view. I did it changing the value of $locale.DATETIME_FORMATS.MONTH and SHORTDAY for my local vars values. It's working fine for me.

`switch(idioma) {
      case 'es_ES':
        $locale.DATETIME_FORMATS.MONTH=trads.es_ES.MONTH;
        $locale.DATETIME_FORMATS.SHORTDAY=trads.es_ES.SHORTDAY;
      break

[2016-04-29 13:23] #34 closed

[2016-04-29 13:23] #26 closed

[2016-05-02 06:59] Shounak17 commented on #18
@twinssbc can the time format be changed for month-view ? I want to display in the 12-hr format. Thanks.

[2016-05-02 07:40] twinssbc commented on #18
@Shounak17 Currently the month view doesn't support the customisation of event detail list.
As you can see the below code in month.html, I hard coded the time format to be 'HH:mm'.
If you want to change it, you have to fork my repository and change it by yourself.
But it's a valid requirement, I will expose this format option later.

The calendar itself doesn't care how you add and store your even

[2016-05-02 16:23] danny-36 commented on #21
i18n for formatting Month or Day of the week in the correct language

[2016-05-02 16:25] danny-36 opened #35 "Options usage"
How can I use options from my controller?

[2016-05-02 23:54] twinssbc commented on #35
@danny-36 You can refer to the demo page.

[2016-05-03 03:08] squaredonut opened #36 "Month dot indicators and how to customize the month's list items"
Hello,

Great component, definitely fills the void in the calendar components around.

Firstly, in month view, is there anyway to show some dots for each day that has any events?

Secondly, for the events list in month view, can I control any other information to show for each event item?

Thank you!

[2016-05-03 08:38] danny-36 commented on #35
for example how can I set "allDayLabel" from my template?

[2016-05-03 08:40] danny-36 opened #37 "viewTitle don't show onload"
I put the CalendarDemoCtrl from the demo to my controller but when I load my app the viewTitle with current month don't show, if I change month viewTitle appers.

[2016-05-03 13:21] twinssbc commented on #35
@danny-36 You can set the "allDayLabel" like below.

[code]

[2016-05-03 13:26] twinssbc commented on #37
@danny-36 Could you provide your html code that declares the calendar directive?

[2016-05-03 13:36] danny-36 commented on #35
doesn' t work. Can I set from my controller?

[2016-05-03 13:43] twinssbc commented on #36
@squaredonut

It's possible to add dots under the day, basically for days having events will get assigned the "monthview-primary-with-event" css class. Then you just need to override the style of this class. For example,
[code]

Regarding the second question, currently the calendar doesn't expose the option to show more information of the event. Other user also asked the similar question, I plan t

[2016-05-03 13:48] twinssbc commented on #35
No, you can't, the option needs to be declared in the html.

[2016-05-03 13:53] danny-36 commented on #35
this is my template.
 <calendar ng-model="calendar.currentDate" calendar-mode="calendar.mode" event-source="calendar.eventSource"
              range-changed="reloadSource(startTime, endTime)"
              event-selected="onEventSelected(event)"
              title-changed="onViewTitleChanged(title)"
              time-selected="onTimeSelected(selectedTime)"
              all-day-label="Tutto il

[2016-05-03 13:53] danny-36 commented on #37
It's the same from demo

<ion-view view-title={{viewTitle}}>
  <ion-nav-buttons side="right">
    <button class="button" ng-disabled="isToday()" ng-click="today()">Today</button>
    <button class="button" ng-click="changeMode('month')">M</button>
    <button class="button" ng-click="changeMode('week')">W</button>
    <button class="button" ng-click="changeMode('day')">D</button>
    <button class

[2016-05-03 13:54] danny-36 commented on #37
``

[2016-05-03 13:54] #37 closed

[2016-05-03 14:02] twinssbc commented on #35
Ah, ok, the all-day-label option only applies to week view and day view right now. I will make it work for month view.

[2016-05-03 14:03] twinssbc commented on #37
@danny-36 I saw you closed this issue, is it solved?

[2016-05-03 14:04] danny-36 commented on #35
![screenshot 11](https://cloud.githubusercontent.com/assets/18171609/14985649/af00006e-1148-11e6-9940-ce5b6446b463.jpg)

[2016-05-03 14:05] danny-36 commented on #37
no sorry. This is my template code:

`<ion-view view-title={{viewTitle}}>
  <ion-nav-buttons side="right">
    <button class="button" ng-disabled="isToday()" ng-click="today()">Today</button>
    <button class="button" ng-click="changeMode('month')">M</button>
    <button class="button" ng-click="changeMode('week')">W</button>
    <button class="button" ng-click="changeMode('day')">D</button>

[2016-05-03 14:06] danny-36 commented on #37
<ion-nav-buttons side="right">
    <button class="button" ng-disabled="isToday()" ng-click="today()">Today</button>
    <button class="button" ng-click="changeMode('month')">M</button>
    <button class="button" ng-click="changeMode('week')">W</button>
    <button class="button" ng-click="changeMode('day')">D</button>
    <button class="button" ng-click="loadEvents()">Load Events</button>
  </ion-

[2016-05-03 14:07] danny-36 commented on #37
no sorry. this is my template:

[code]

[2016-05-03 14:12] twinssbc commented on #35
You need to adjust the width of the first column to fit your text. For example,

[code]

[2016-05-03 14:15] danny-36 commented on #35
It seems more a problem of line-height

[2016-05-03 14:16] twinssbc commented on #37
Do you have below callback in your controller?
Could you set the breakpoint to see if it is called when the view is loaded?

[code]

[2016-05-03 14:19] twinssbc commented on #35
Yes, you can also adjust line-height if you want to wrap the text into multiple lines.

[2016-05-03 14:20] danny-36 commented on #35
I added this:
[code]
and works! thanks.

[2016-05-03 14:24] danny-36 commented on #37
this is my controller:

[code]

[2016-05-03 14:34] twinssbc commented on #21
I just include the angular locale script and the day header and view title can be translated correctly.
    <script src="http://code.angularjs.org/1.4.3/i18n/angular-locale_fr-fr.js"></script>

According to this article, the angular-translate can also help.
http://robferguson.org/2015/07/22/internationalisation-i18n-and-localisation-l10n-for-ionic-apps/

[2016-05-03 14:43] twinssbc commented on #37
That's weird, your code is exactly the same as my demo page. Do you also define the ion-nav-bar as below?
Could you set the breakpoint on onViewTitleChanged method to see if it's triggered?

[code]

[2016-05-03 14:43] twinssbc commented on #37
That's weird, your code is exactly the same as my demo page. Do you also define the ion-nav-bar as below?
Could you set the breakpoint on onViewTitleChanged method to see if it's triggered?

[code]

[2016-05-03 15:11] danny-36 commented on #37
no I miss this part. now works. thank you very much.

[2016-05-03 15:20] #35 closed

[2016-05-04 01:01] squaredonut opened #38 "Is there absolutely anyway to have scroll="true" present on ion-content? For Day view"
I noticed that the scroll="true" causes the day view to collapsed in height, is there anyway around this? The page I have the calendar control on uses collection repeat which requires scroll to be true.

Thank you.

[2016-05-04 07:10] squaredonut commented on #36
Oh great, ok I will try those suggestions, thank you for the reply!

[2016-05-04 07:10] #36 closed

[2016-05-04 08:38] danny-36 commented on #21
interesting but the problem is the name of month displayed in calendar, for example "May, June, July" displayed in {{viewTitle}} on month view, how can I translate this in italian?

[2016-05-04 13:09] twinssbc commented on #21
I just included below script, and the viewTitle is displayed as the below screenshot.
Does that meet your requirement?
    <script src="http://code.angularjs.org/1.4.3/i18n/angular-locale_it-it.js"></script>

![screen shot 2016-05-04 at 9 03 31 pm](https://cloud.githubusercontent.com/assets/3329841/15015077/5512c8b2-123c-11e6-8c59-56d40544ceba.png)

[2016-05-04 13:16] danny-36 commented on #21
Great! Thank you.

[2016-05-05 03:18] TheJetlag commented on #31
Hi @twinssbc,
any chance we can get this as an configuration options?

[2016-05-05 14:57] twinssbc commented on #31
@TheJetlag In what condition, you only need to show 3 days of the week? And which specific days?

[2016-05-05 15:00] twinssbc commented on #38
@squaredonut If you set the height of calendar-container to a fixed height, would that help?

[code]

[2016-05-08 21:56] squaredonut opened #39 "Issue where the events aren't showing if using ng-if and query-mode remote"
So if we have something like this:

<div>
  <calendar ng-if="showAdvancedCalendar" event-source="mySource" query-mode="queryMode" />
  <ion-list ng-if="showBasicCalendar" />
</div>

queryMode is set to 'remote'.

For some reason when I toggle the conditions, the calendar is not displaying the events.

This happens if the view loads initially showing the ion-list only, then you swtich to the advanc

[2016-05-09 00:15] twinssbc commented on #39
@squaredonut
Is the calendar itself displayed correctly? Only the events aren't shown?
When you call $scope.$broadcast('eventSourceChanged', mySource), what's inside mySource array?
And you mentioned ng-if, where do you use it?
Could you help to debug it?
In calendar-tpls.js, add break point on the below lines, to see if the onEventSourceChanged is triggered or not?

[code]

[2016-05-11 22:10] GeekMediaDK opened #40 "startingDayWeek not working"
When im using the startingDayWeek to set monday to be the first day of the week (`starting-day-week="1"`) it breaks the code. When swiping the week view it changes month at the same time, and it sets starting day to be wednesday when using the value 1.

Is this an issue or have i just misunderstood something about the option?

[2016-05-12 09:15] chandan4871 opened #42 "how to create event using only start date."
please any one help me to create the event having same start date and end date.
actually i have to create event only in a particular date and that will end in also that day, But when i provide same date in both start date and in end date the event is not binding to calendar.please help me urgent

[2016-05-12 12:48] chandan4871 opened #43 "how to automatic refresh the calednar"
how to automatic refresh the calendar after data bind from firebase database.
Actually i have bind the data to the calendar but events are not able to show in calendar after bind but after a change event its showing so how to automatically refresh the after data bind.

[2016-05-12 14:26] twinssbc commented on #42
@chandan4871 You need to put the end date to one day after start date

[2016-05-12 14:31] twinssbc commented on #43
@chandan4871 Not sure how you bind data to the calendar.
The event source change is watched at the variable level, if you directly modify the element in the event source, the refresh won't be triggered because of the performance consideration.
You can check the README for more detail.
To force refresh, you can manually broadcast the event.

[code]

[2016-05-12 14:55] twinssbc commented on #40
@GeekMediaDK It's a bug. I have fixed in version 0.2.4. Thanks!

[2016-05-12 15:58] GeekMediaDK commented on #40
You'r welcome @twinssbc

Hope you also can you my suggestion for the higlightclass function

[2016-05-13 05:01] chandan4871 commented on #42
thanks a lot it works perfectly.Great work man

[2016-05-13 05:01] #42 closed

[2016-05-13 05:14] chandan4871 commented on #43
.controller('tenderDetails',function($scope,$firebaseArray,$ionicPopup,UserService){
    var ref = new Firebase(url);
    $scope.users = UserService.all();
    if($scope.users[14] !="a")
        {
         /*  ref.orderByChild("PROP_SUB").on("child_added", function (snapshot) {
            $scope.mnthlydatas=[];
            $scope.mnthlydatas=snapshot.val();
            console.log($scope.mnthlyda

[2016-05-13 05:18] chandan4871 commented on #43
Above code is my controller i have four table in my firebase database i have extract the subject and date from the 4 tables and already bind them to calendar so where should i write the   $scope.$broadcast('eventSourceChanged',$scope.eventSource); that the calendar will refresh automatically and display the event.please go through the above code and help me it will be great pleasure for me.

[2016-05-13 05:50] Shounak17 commented on #22
Hi,
What will I have to do if I want past dates with events to have a different color(eg. Red) and keep the  future dates with events of the same color (i.e Blue). And also if possible pop-up an alert for past dates(with events). Any help would be appreciated. Thanks :)

[2016-05-13 14:09] twinssbc commented on #43
@chandan4871
Are your database call executed asynchronously?
You need to call the broadcast method right after you made change to eventSource.

[2016-05-13 15:25] twinssbc commented on #22
@Shounak17
You need to modify below method to compare the date and return the className you want.
Then you set the background colour on this css class.
When and how do you want to pop up the alert? Could you provide more details?

[code]

[2016-05-15 14:16] candelibas opened #44 "[request] Ionic2 Support"
Is there any hacky way to use this directive on Ionic 2 ?

[2016-05-16 00:07] twinssbc commented on #44
@candelibas I haven' t tried it in Ionic 2, will look at it.

[2016-05-16 09:56] candelibas commented on #44
@twinssbc would be great!

[2016-05-17 03:48] squaredonut opened #45 "timeSelected event is receiving the wrong date time in day view"
It looks like the time/date that's passed into the timeSelected event is the same event no matter which ever hour you click on it, I had a look at the template and it is correctly passing the tm.time but for some reason it looks more like it's the current date time as opposed to the selected hour's date time

[2016-05-17 04:02] squaredonut commented on #45
Looks like I made a novice error and my parameter variable was different rather than selectedTime I had selectedDate in my attached handler function. Very delicate.

[2016-05-17 04:02] #45 closed

[2016-05-17 07:19] Shounak17 commented on #22
How do I compare ? what should I compare "date.date" with ?
I want a pop-up when a user clicks on past dates. And the events should not be listed for the old dates after the pop-up alert.

[2016-05-17 14:24] twinssbc commented on #22
@Shounak17 You need to compare with the date.date with the current time so that you can return different classname for the past and the future event. For example,
[code]

Regarding your second requirement, I think you need to modify the below part in the month view, it displays the event in the selectedDate.events in the list. You need to add some check to not display the event when the selectedDa

[2016-05-18 07:25] Shounak17 commented on #22
The first thing worked beautifully. Thanks.
For the second thing, I tried some check to not display the events when the selectedDate is a past date.
`<tr ng-if="!selectedDate.events || selectedDate.date < today">
        td class="no-event-label " ng-bind="::noEventsLabel"></td>
 </tr>`

[2016-05-19 12:12] twinssbc commented on #22
@Shounak17 Did you solve your second requirement, or you need any help?

[2016-05-19 13:18] Shounak17 commented on #22
I'll need some help, please ! The things I've tried are not working.Although I'm getting the no-event-label below the events-list. I don't want the events-list to dsiplay at all.

[2016-05-19 13:53] twinssbc commented on #22
@Shounak17 New method is not allowed in the expression.
You can achieve this by modifying the code as below:

1. In monthview.html, add !selectedDate.past check to ng-show:
[code]

2. In calendar.js, when generating the date object, set the past field.
Here is just an example, the comparison is not very accurate, you need to only compare the date part of the datetime.
[code]

[2016-05-20 05:51] Shounak17 commented on #22
It worked. Awesome. But I'm not getting the "no-events-label" for any of the past dates.
I tried this in month.html
`              <tr ng-if=!selectedDate.events>
                   <td class="no-event-label" ng-bind="::noEventsLabel"></td>
              </tr>
	          <tr ng-if="selectedDate.past">
                 <td class="no-event-label" ng-bind="::noEventsLabel"></td>
               </tr>

[2016-05-20 13:02] twinssbc commented on #22
@Shounak17 Try this?
[code]

[2016-05-20 22:56] bruno-reis opened #46 "[Request] Recurring Events"
I haven't found anything that mention the ability to create recurring events is this feature available in the current version?
If not how difficult it would be to implement? Maybe I could try looking over your code and doing myself(and send a PR later).
Or even if you could give some idea of how to implement this behavior in angular controller or service would be nice too.
Cheers.

[2016-05-21 01:37] twinssbc commented on #46
@bruno-reis I did consider supporting the recurring event, for example, add extra fields to indicate the recurring frequency and on which datetime slot.
But it will become complicated when you modify that event as a single event, for example, you want to delete the event on a specific day while not affecting other days.
So my second thought is the user should be responsible for generating the recu

[2016-05-21 04:46] Shounak17 commented on #22
Perfect ! Thanks so much.

[2016-05-25 20:04] bmwertman opened #47 "How can I open the calendar day view to a particular date?"
I have a list view of events. When someone selects a event in the list I want to open the day view to the date of that event.

[2016-05-26 00:45] twinssbc commented on #47
@bmwertman
I guess this event list is a separate view, instead of the event list in the month view?
So you need to change the currentDate to the date of the selected event and switch the calendar in the day view;
Assume you declare the calendar as below.
In your controller method, you can modify calendar.currentDate and calendar.mode.

[code]

[2016-05-26 15:40] bmwertman commented on #47
@twinssbc

Yes, the event list is a separate view. And your recommendation works for my use case. Thanks!

[2016-05-26 15:40] #47 closed

[2016-05-27 00:41] twinssbc commented on #40
@GeekMediaDK I have merged your PR and released in version 0.2.5. Thanks!

[2016-05-27 00:41] #40 closed

[2016-05-27 05:27] Krypternite commented on #19
@fonini sir did you find a  solution to this. i tried creating a custom angular filter, however it did not work. @twinssbc Could you help me with trying to find where can i do this.

[2016-05-27 14:28] twinssbc commented on #19
@Krypternite If you want to change the the start and end hours, you need to modify multiple places.
The general idea is:
1. you need to change the slots displayed in the view
2. you need to filter the event based on your start and end hour
3. you need to calculate the position of each event based on your start hour instead of the 0:00 AM
I think "hour" and "24" are good keywords to search in my co

[2016-06-08 02:25] zeiphon opened #48 "showEventDetail does not appear to be working"
Hi,

Attempting to set the option attribute like so: `show-event-detail="false"` does not appear to be taking effect, unless I'm missing something with the setting of this attribute.
This seems to be because at line 29 in calendar-tpls.js in your attribute option loop:
[code]

$interpolate will return a string value, and so self['showEventDetail'] is set to the string "false", a truthy value.

[2016-06-08 14:47] twinssbc commented on #48
@zeiphon It's a bug and I have fixed in version 0.2.6. Thanks for reporting!

[2016-06-08 14:53] zeiphon commented on #48
Thanks, that was quick!

Out of curiosity, why are you switching between `$interpolate` and `$scope.$parent.$eval` for various options?

[2016-06-08 14:55] #48 closed

[2016-06-08 15:54] lmigula opened #49 "Issue with starting-Day-Week="1""
Hi,
I found an Issue where I couldn't find a solution myself.
If I set the starting-Day-Week Parameter to 1 and have a Sunday as selected Date the week view jumps to the wrong week. So for example
If you select the 19th June 2016 in the month view you get a week view from the 20th  to the 26th of June.
[Plunker with the parameter set](https://plnkr.co/edit/8u96qSVLpRqvndfLWQO4
)
I had a look at th

[2016-06-09 07:42] sceptre12 opened #50 "Under the day view, I have an issue with the "all day" div tag floating over the div segment for "12am""
This is all I have and its being rendered in a "ion-side-menu-content", which also contains a ion-nav-bar.

`<ion-view view-title="Title">
  <ion-content class="padding" scroll="false">
    <calendar ng-model="schedule.calendar.currentDate"
              calendar-mode="schedule.calendar.mode"
              event-source="schedule.calendar.eventSource" step="30"></calendar>
  </ion-content>
</ion-vi

[2016-06-09 08:29] twinssbc commented on #49
@lmigula This is a bug and I have fixed it in version 0.2.7. Thanks for reporting it!

[2016-06-09 10:57] twinssbc commented on #50
@sceptre12 I guess you directly add contents in ion-side-menu-content?
Maybe you can try the other way?
Suppose you use the official sample code of menu layout as below:
[code]
            .state('menus.home', {
                url: '/home',
                views: {
                    'menuContent': {
                        templateUrl: 'templates/home.html',
                        controller:

[2016-06-09 12:57] lmigula commented on #49
Thank you for fixing it ;)

[2016-06-09 13:49] #49 closed

[2016-06-09 21:07] hamad251 opened #51 "disabled dates"
Is there a way to add disabled date ? So user can't click on it , like weekends

[2016-06-10 06:27] sceptre12 commented on #50
Hmm, So i've tried this and it still dosent seem to work. I'm actually using the side menu as an abstract state and letting the child state render inside of the
` <ion-nav-view name="menuContent">`
           ` </ion-nav-view>`

But yes I've used display none to hide the all day event. Thanks on that

[2016-06-10 13:12] twinssbc commented on #48
@zeiphon I want to make some options like formatDay, allDayLabel can be declared directly in the HTML, as they normally don't change, while other options like queryMode, eventSource can be altered in the controller method.

[2016-06-10 13:16] twinssbc commented on #51
@hamad251 To show the dates as disabled, for example, using grey background requires some code change.
If you just want to do nothing when the dates at the weekends are clicked, you can add some check in the timeSelected callback.

[2016-06-11 03:33] twinssbc commented on #50
@sceptre12
I have put my sample in Plunker.
https://plnkr.co/edit/SlewSrFKZeVW3lIpaBvY?p=preview

[2016-06-14 04:03] foochuanyue opened #52 "Missing Headers"
Hello I may be new to this so please guide me.

I tried integrating the calendar into my app, however in the header there is no options to change the view nor does it show the date.

Am I missing some part of the code?

My code looks something like this:
<ion-view view-title="Calendar" cache-view="true">
  <ion-content class="has-header">
  <calendar calendar-mode="mode" event-source="eventSource"

[2016-06-14 12:16] twinssbc commented on #52
@foochuanyue Yes, the header in the demo page is not part of this calendar directive.
You can build your own layout in the header to control the calendar.
You can refer to the demo page as an example.

[2016-06-16 22:39] rahulthakare opened #53 "How to slide to next and previous month, from outside the calendar."
I want to add controls (>> << to the header) to slide to next  and previous month for the desktop user.
For the month on the year, if the 1st date falls on Sunday, there is no way to go to the previous month for the desktop user.

[2016-06-17 00:11] twinssbc commented on #53
@rahulthakare Have a look at the **changeDate** event in the README. When user clicks the >> << controls, in your click handler you can broadcast the changeDate event.

[2016-06-24 00:17] dunice opened #54 "Calendar doesn't work inside a ng-show container"
Hi fellows,

Unfortunately the component doesn't work if is wrapped by a container with `ng-show` directive. But if I remove the directive it works fine.

[2016-06-24 14:51] twinssbc commented on #54
@dunice What do you mean it doesn't work? Are you referring to the rendering or behaviour?
Could you provide the snippet how you use the calendar directive in the view?

[2016-06-24 16:09] dunice commented on #54
@twinssbc Yes, I am referring about the rendering. If I remove the `ng-show` it renders ok. Check it out:

[code]

[2016-06-24 16:13] dunice opened #55 "Repeat calendar in the same view"
Is it possible to repeat the calendar in the same view?

I have the following use case:
[code]

If one calendar is changed, like swiping, the others are also changed.

[2016-06-24 16:31] dunice opened #56 "Extra data inside calendar"
Sometimes is useful send extra data to something and I did a little improvement over calendar to handle it.

#https://github.com/dunice/Ionic-Calendar/commit/3314298283b75517f4e0309b81a825c80826a3f9

Check the following printscreen where it shows how useful it can be:
![captura de tela 2016-06-24 as 13 29 33](https://cloud.githubusercontent.com/assets/1914090/16343841/d2080594-3a0f-11e6-999e-4d36a

[2016-06-24 16:56] lucasdoamaral commented on #55
I think you need to use diferent values in "ng-model" if you don't want to use the same object.

[2016-06-24 17:09] dunice commented on #55
@lucasdoamaral already tried that. On execution time I instantiated a `new Date` object, set the `ng-model` with the `Date` object and unfortunately it didn't work.

[2016-06-25 13:20] dunice commented on #55
After testing a lot I noticed that the problem is with `ion-slide-box` because with the `delegate-handle` attribute. Unfortunately I didn't find a way to make it iterable.

https://github.com/twinssbc/Ionic-Calendar/blob/master/dist/js/calendar-tpls.js#L327

[2016-06-25 13:25] dunice commented on #54
Fixed using `ng-if` instead.

[2016-06-25 13:25] #54 closed

[2016-06-25 16:04] twinssbc commented on #55
Yeah, that's a problem.
It seems it's not possible to assign some dynamic value to the delegate-handle.
Below discussion contains some nasty workaround.
https://github.com/driftyco/ionic/issues/1865

[2016-06-27 10:08] abhinay100 opened #57 "Can we add indicators of the events in calendar..so that all the events will be indicated, if so.. can you please explain how to implement"

[2016-06-27 16:00] melsayed008 opened #58 "Can I use it with Ionic 2 framework?"
Hi, I'am using ionic 2 latest version and I am not sure if I can use the calendar with ionic2 framework? if not, is there another plugin can be used? Also should I be aware of anything to get it to work with ionic2 framework?
Thank you

[2016-06-28 00:10] twinssbc commented on #58
@melsayed008 It's not working with Ionic2 framework. There are similar questions raised by other user. I'm starting converting it to Ionic2 compatible version.

[2016-06-28 00:12] twinssbc commented on #57
@abhinay100 Could you give an example? What kind of indicator do you want?

[2016-06-28 06:46] abhinay100 commented on #57
![image](https://cloud.githubusercontent.com/assets/11390158/16406039/6a89ffea-3d29-11e6-8a00-7278bf6b933d.png)

this is the project where i have used the calendar.Im getting the events based on dates..just like todays indicator which is in green i need a indicator which indicates for all the events is this possible..can you please provide a code snippet

[2016-06-28 06:50] abhinay100 commented on #57
ex:if the events are in 15th and 20th they should be indicated with blue color

[2016-06-28 11:59] twinssbc commented on #57
@abhinay100 Did you check my demo page?
http://twinssbc.github.io/Ionic-Calendar/demo/#/tab/home
If you click the LoadEvents, it will generate some random events on the calendar.
You can refer to the code in my demo page to implement your logic.

[2016-06-28 12:07] abhinay100 commented on #57
yes i checked.. i dint find any loadevents() in the js file

[2016-06-28 12:08] abhinay100 commented on #57
it will be helpful if u send the logic used in loadevents()

Thanks

[2016-06-28 14:51] twinssbc commented on #57
@abhinay100 Check https://github.com/twinssbc/Ionic-Calendar/blob/master/demo/calendarDemoCtrl.js
Search for the loadEvents function.

[2016-06-29 06:59] bkeskin91 opened #59 "Change Language in Week, Month, Year View"
Hello,

i would like to change the Language of the Calendar. So for Example in the Month View I want "Son" instead of "Sun". And i would like to translate the Month Titles as well. Could You tell me where i have to look in your code? Didn't find the right spot yet.

Thanks in advance

Baris

[2016-06-29 07:01] abhinay100 commented on #57
Thanks.. got it

[2016-06-29 10:43] bkeskin91 commented on #59
@Update

found the hint in the Documentation sorry for asking this.
If Anyone is struggling with the same requierement just add the needed angular locale javascript file.

Thanks

[2016-06-29 10:43] #59 closed

[2016-06-29 15:51] peterarends commented on #58
@twinssbc that would be awesome!

[2016-07-05 14:33] bianchimro opened #60 "allow easier template customization"
Hi @twinssbc and thanks for this great widget.

I'm using it in a project and obviously ran into the need of customizing the templates.
I think this is quite common, for a various set of use cases:

* showing the calendar with other complex widgets on a view
* adding custom data to events

Some options could be provided in order to load different templates without modifying/forking the source code

[2016-07-05 14:44] twinssbc commented on #60
@bianchimro Yes, there are more and more users asking for similar customisation capability.
I will work on that.

[2016-07-05 22:14] bianchimro commented on #60
@twinssbc perfect, I will stay tuned for updates.
And thanks for your quick response, good work on the project!

[2016-07-07 12:57] lucasdoamaral opened #61 "Prevent onTimeSelected when selecting an event in weekView or dayView"
When you are using the week or day view, if you click in an event the events onEventSelected and onTimeSelected are triggered. What can I do to prevent the onTimeSelected to be fired in this case?

[2016-07-07 14:51] twinssbc commented on #61
@lucasdoamaral If you don't specify time-selected="onTimeSelected(selectedTime)" in the html, nothing will be triggered.

[2016-07-09 22:07] lucasdoamaral commented on #61
I already specified a function to trigger in both onTimeSelected and onEventSelected, but in the week or day views, I would like to fire just the event onEventSelected, and prevent the onTimeSelected to be triggered. Got it?

[2016-07-10 00:57] twinssbc commented on #61
@lucasdoamaral onTimeSelected function can't be disabled. But in your function you can simply check the current calendar mode and exit.

[2016-07-10 01:38] lucasdoamaral commented on #61
In week view, for example:

Click **on a time** that doesn't have an event, trigger **onTimeSelected(timeSelected)**.
Click **on an event** trigger **onTimeSelected (timeSelected)** and **onEventSelected(eventSelected)**.

What I am trying to achieve is, when the user clicks on a event, I want to trigger the onEventSelected(eventSelected) (this is ok) but I want to event onTimeSelected(onTimeSelec

[2016-07-10 09:40] twinssbc commented on #61
@lucasdoamaral I got your requirement now.
I can think out two solutions:
1. Add a new flag, such as triggerTimeSelectedWhenNoEvent, and in the calendar code, it will check this flag to no trigger onTimeSelected function. But introducing a new flag requires more code.
2. Pass the associated events as the second parameter to the onTimeSelected function. And let user decide what to do. This requires

[2016-07-10 19:56] lucasdoamaral commented on #61
The two approachs resolve this requirement, althought I think the second approach is more elegant, cause when using the calendar, it will not be necessary to use a lot of attributes. IMO you should implement this using the second approach. I'm looking forward for this, so I could remove the $timeout function of my code. Thank you so much for your time!!!

[2016-07-11 10:47] abdulwahabkhan1 opened #62 "does this works with ionic 2 too"
Hi i have question not an issue does this works with ionic 2 too

[2016-07-11 12:44] twinssbc commented on #62
@abdulwahabkhan1 This control doesn't work with Ionic2 right now. I'm writing a new version for Ionic2.

[2016-07-11 12:50] abdulwahabkhan1 commented on #62
Thanks @twinssbc

[2016-07-13 14:13] engbmsdev opened #63 "Template for directive must have exactly one root element"
Hi, I'm trying to add ionic-calendar in my Ionic App, but when I include one calendar in HTML I have the following error:

`[$compile:tplrt] Template for directive 'calendar' must have exactly one root element. templates/rcalendar/calendar.html`

I'm also trying to remove all templateCache functions and use real HTML templates but nothing change.

The only way to run ionic-calendar correctly is re

[2016-07-13 14:18] twinssbc commented on #63
@engbmsdev Could you provide your html file that declares the calendar directive?

[2016-07-13 15:03] twinssbc commented on #61
@lucasdoamaral I have published the change in version 0.2.8.
The README file contains the explanation of the onTimeSelected method.
Could you have a try? Thanks.

[2016-07-13 15:07] engbmsdev commented on #63
@twinssbc

This is my HTML view:
[code]

While in the the controller I have:

[code]

Thank you for your help.

[2016-07-13 15:20] twinssbc commented on #63
@engbmsdev Are you trying to modify the calendar-tpls.js?
Did you put any comment in that file?
According to the Google result, it seems comment itself will also be treated as a root element.

[2016-07-13 15:27] engbmsdev commented on #63
@twinssbc No, I'm trying to use it without any modifications, but when it starts to give me some errors I've tried to resolve them making little edits.
I've read about comments on Google results but I didn't edit templates or calendar-tpls.js. :(

[2016-07-13 15:43] twinssbc commented on #63
OK. Which calendar version and Ionic version are you using?
Are you referencing calendar-tpls.js?
Are you using templateCache elsewhere?

[2016-07-13 16:01] engbmsdev commented on #63
I'm using Ionic v.1.3.1 and ionic-calendar v.0.2.7; calendar-tpls.js is linked in my index.html file and yes, I'm using $templateCache in all my templates with gulp-angular-templatecache.

[2016-07-14 00:15] twinssbc commented on #63
@engbmsdev Any chance you can debug your application to see what's stored in the templateCache for the 'templates/rcalendar/calendar.html'?

[2016-07-14 17:31] lucasdoamaral commented on #63
Hi, @engbmsdev! Did you include ui.rCalendar in your app.js file?

[2016-07-14 17:32] lucasdoamaral commented on #61
Sure! I'll give it a try and let you know.

[2016-07-14 18:33] lucasdoamaral commented on #61
It worked! Exactly what I needed! Thank you so much! :clap:

In the explanation about onTimeSelected you said:

I think you should remove "in the monthview", since the behaviour is the same in both day, week and month view.

I also suggest you to include an explanation that onEventSelected will be triggered even when onTimeSelected is defined, just to avoid any confusion.

Thank you again for your

[2016-07-14 23:15] twinssbc commented on #61
@lucasdoamaral Thanks for the suggestion, I will change the explanation.

[2016-07-20 12:54] niksell opened #64 "issue with the month and an unexpected error"
![image](https://cloud.githubusercontent.com/assets/9380686/16986914/f1208cbc-4e91-11e6-8d8b-4852712d6f31.png)
My app layout is like this and i cant see the month how i will fix this ?
And also i am gettin the error in the down right corner of the screen any clue ? None of my events is allDay

[2016-07-20 16:13] ghadeerrahhal opened #65 "Hour Intervals"
Is it possible to have the hours display in 15 or 30 minute intervals in either the day or week view?

[2016-07-20 23:56] twinssbc commented on #65
@ghadeerrahhal Yes, check the **step** option in README.

[2016-07-21 00:04] twinssbc commented on #64
@niksell
As describes in the Ionic documentation, http://ionicframework.com/docs/api/directive/ionTabs/

Regarding the error you get, could you reference the non minified version, calendar-tpls.js?
Then you should be able to locate which exact line has error and do some debugging.
I suspect event.startTime is not a Date object, but a String, could you have a check if you passed in the correct data

[2016-07-21 00:52] ghadeerrahhal commented on #65
I tried step but with no luck, I still see the times in 1 hour intervals, attached is a jsfiddle. Am I not using it properly?

https://jsfiddle.net/ghadeer/o7svcswt/2/

[2016-07-21 05:28] niksell commented on #64
@twinssbc
My end and start time are in string format because I am getting them from an api.
So you say that the problem with the month  is the position of the tabs?

[2016-07-21 07:20] #64 closed

[2016-07-21 14:48] twinssbc commented on #64
@niksell Sorry, I misunderstand your first question. I thought you were talking about the layout is different in IOS and Android.
I think you meant you can't see the month in the title bar? Probably it's also related to the different  button position in IOS and Android.

[2016-07-21 15:06] twinssbc commented on #65
@ghadeerrahhal Actually in your jsfiddle link, the event is displayed correctly. If the event starts at 10:00, ends at 10:14, it will only occupy the quarter of the cell. Could you double check?

[2016-07-21 21:51] ghadeerrahhal commented on #65
Yes it's displayed perfectly, sorry for not being clearer. Is it possible to have the times display

7:00AM
7:15AM
7:30AM
7:45AM
8:00AM

etc?

[2016-07-21 23:27] twinssbc commented on #65
@ghadeerrahhal you mean change the display in the first column?
That's a bit difficult.
In week.html, below html code controls how to display the time.
You can change replace "::dt.date| date:  formatWeekViewDayHeader" with a method, then you can return any text you want.

[code]

[2016-07-22 13:22] #61 closed

[2016-07-24 16:29] akj627 opened #66 "Is a year navigation supported when you are on the month view?"
Some monthly desktop calendars zoom out to all months and then years when you click on the month to allow the user to navigate between months and years quickly. Can you support this or point me in the right direction?

[2016-07-25 00:48] twinssbc commented on #66
Currently it doesn't support year view. I can add this, but it will take time. If you want to implement yourself, it requires some code change, you can refer to how the other views got implemented.

[2016-07-25 01:27] akj627 commented on #66
I am not looking for year view, just want to quickly go to a different year
like jul 2016 to jul 2015 in 2 3 clicks. It is possible if clicking on jul
2015, a month selection appears, clicking again and year selection
occurs..if not clear, i can send an example...
On Jul 24, 2016 8:48 PM, "twinssbc" <notifications@github.com> wrote:

[2016-07-25 04:15] twinssbc commented on #66
Ok, I saw this kind of navigation functionality in some date picker control. Usually they are achived by clicking the title. Its a bit out of the scope of this control. I think you can implement it by yourself. The calendar allows you to switch to certain view and navigate to certain day. So its easy to hook with other control.

[2016-07-26 13:56] bartsimp opened #67 "How to set monday as first day of week?"
Is there some property for set the first day of week? I'd like to start with Monday...

[2016-07-26 14:46] bartsimp commented on #67
got it.
just add starting-day-month="1" in the html code
sorry

[2016-07-26 14:46] #67 closed

[2016-07-28 12:18] engbmsdev commented on #63
Resolved!
I'm using a http interceptor and in its response function I return `reponse.data` instead `response`; now I return `response` for http template requests and `response.data` for all API request.

[bbottema comment in AngularJS issue](https://github.com/angular/angular.js/issues/10257#issuecomment-185130223)

Thanks for your support!

[2016-07-28 12:18] #63 closed

[2016-08-01 02:07] akj627 opened #68 "How can I jump to a particular month in the calendar ?"
I have a toggle view of calendar and list view of events. I just want to sync the month navigated on each view. Due to this, I need to jump on a specific month/year on the calendar. Is it possible ?

[2016-08-01 16:04] twinssbc commented on #68
@akj627 You can control the date assigned to ngModel to navigate the calendar to a particular date.

[code]

[2016-08-02 13:43] my8mind opened #69 "Min and Max date"
Hi @twinssbc thanks for your great plugin.
I was wondering if it's possibile to set a minimun and maximun date to stop the calendar from sliding month after month.
Thank you

[2016-08-03 00:31] twinssbc commented on #69
@my8mind This is a bit difficult, as the ionic slide box doesn't provide some "BeforeSlideChange" event to allow cancelling the slide.
I think an easy workaround is that you don't allow adding event if the calendar is out of the min and max date.

[2016-08-04 09:17] bartsimp commented on #56
Great idea... but how it works? Can you explain more? How can I add extra info? (in your github fork I can't found any sample..)

[2016-08-15 06:45] masrooj opened #70 "Change the starts time"
I need to show the event from 6AM to 6Am.  Thats mean rather than starting the date 12Am I need to start 6Am. Is that possible?

[2016-08-15 13:43] twinssbc commented on #70
@masrooj This control doesn't expose such option. To achieve this, it requires fairly big code change.

[2016-08-16 03:23] masrooj commented on #70
How much time will it take to re modify. Can modify anyone?

[2016-08-16 11:58] twinssbc commented on #70
It may take one day to modify the code. But I'm super busy recently:(

[2016-08-18 15:28] suphatmeen opened #71 "muti event in same time in day on month view , compareEvent"
i need to show muti event in same time in day on month view ,
i use
[code]
console show : event1.startTime.getTime is not a function
Is that possible?

[2016-08-19 00:46] twinssbc commented on #71
@suphatmeen The startTime and endTime need to be date type, instead of string type. Thanks.

[2016-08-19 04:26] suphatmeen commented on #71
@twinssbc Thanks 👍

[2016-08-20 01:14] twinssbc commented on #58
@peterarends I have ported the calendar to Ionic2. It's still at the very early stage, so may contain some bug.
Feel free to give it a try.
https://github.com/twinssbc/Ionic2-Calendar

[2016-08-20 01:14] #58 closed

[2016-08-20 01:14] twinssbc commented on #62
@abdulwahabkhan1  I have ported the calendar to Ionic2. It's still at the very early stage, so may contain some bug.
Feel free to give it a try.
https://github.com/twinssbc/Ionic2-Calendar

[2016-08-20 01:15] #62 closed

[2016-08-20 01:15] twinssbc commented on #44
@candelibas I have ported the calendar to Ionic2. It's still at the very early stage, so may contain some bug.
Feel free to give it a try.
https://github.com/twinssbc/Ionic2-Calendar

[2016-08-20 01:15] #44 closed

[2016-08-20 01:16] #20 closed

[2016-08-20 01:16] #71 closed

[2016-08-20 07:14] peterarends commented on #58
Thank you so much @twinssbc! Will give it a try now!

[2016-08-20 14:03] Rebaiahmed opened #73 "change the view of the calendar from month to days"
hello i wish display the calendar with days and hours , something like this
![issuesgithub](https://cloud.githubusercontent.com/assets/13053759/17831680/35f904dc-66e7-11e6-8c68-745d5423115b.png)

i didn't know how to change the default options ?

[2016-08-20 15:09] twinssbc commented on #73
@Rebaiahmed It seems the screenshot you provided is quite different from any view in this calendar control.
I don't think the default options this control provides can help.

[2016-08-22 07:27] mittalrahul opened #74 "rangeChanged function callback is not working"
[code]

I think the problem is with the `queryMode` parameter. I am passing `remote` in it but it is `undefined` in your directive.
https://github.com/twinssbc/Ionic-Calendar/blob/master/dist/js/calendar-tpls.js#L29

[2016-08-22 08:10] mittalrahul commented on #74
It is working if we pass the angular scope variable in the `query-mode` attribute.
[code]

[code]

But I think it should also work if I pass string in it instead of passing scope variable.

[2016-08-22 10:49] mittalrahul opened #76 "Day View All Day Events wrapper is not taking correct height"
`ng-class` & `ng-style` expressions are wrong.

See this: https://github.com/twinssbc/Ionic-Calendar/pull/75

[2016-08-22 12:42] twinssbc commented on #74
@mittalrahul I try to separate the options into two types.
One type of option can be directly specified in the html code, they tend to be constant, such as formatDay.
Another type of option is bound to the scope variable, as they may change dynamically, eventSource.

I don't want to make one option support both type, as it will be confusing, as the syntax is exactly the same.

[2016-08-23 00:30] twinssbc commented on #76
Thanks for the PR, fixed in 0.2.9

[2016-08-23 00:30] #76 closed

[2016-08-23 00:54] xiaolongtang opened #77 "Every half hour in the day view"
Hi there, this is framework is so awesome. I am wondering is that possible to show  every half hour in a row like "8:30AM,9:00AM,9:30AM" in the day view? If so, it will be so nice of you to point out where I should modify. Appreciate your help.

[2016-08-23 12:02] Mathijs003 opened #78 "month only showing when changing month"
Hi,

I'm having an issue with the viewTitle of the calendarpage. This only get's updated when you swipe to another month. How to show the correct month when opening the calendar?

Thanks

[2016-08-23 14:34] twinssbc commented on #77
@xiaolongtang What do you mean show every half hour in a row?
Maybe you mean show every half hour in a column?
The **step** option already provides you the capability to display the event every half hour.

If you want to also display text like 8:30AM, 9:00AM in the first column, you can take a look at the day.html.
Below code snippet display the content in the first hour column.

[code]

[2016-08-23 14:36] twinssbc commented on #78
@Mathijs003 There was an exact same issue raised before.
Could you take a look to see if it can solve your problem? Thanks.
https://github.com/twinssbc/Ionic-Calendar/issues/37

[2016-08-23 14:50] AlphaNerds opened #79 "Draggable & Resizeable"
Is it possible to make the events in 'day' view both draggable and resizeable?

[2016-08-23 14:51] twinssbc commented on #79
@AlphaNerds Do you also expect that if the event is dragged or resized, the event startTime and endTime will also change?

[2016-08-23 14:53] Mathijs003 commented on #78
This is indeed a solution, but in my app, the <ion-nav-bar> element is already been used in the sidemenu html page so that I don't need to use it in every page. So when I add this to my calendar page I get a double nav-bar.. However I can disable the top padding in that specific page with style="top:0;" in the <ion-content> tag. Thanks a lot! Here's my code:

`<ion-view view-title={{viewTitle}}>

[2016-08-23 18:31] williamk705 opened #80 "Events Section Dissapears"
When I turn my phone horizontally (landscape) the section where it shows the event list disappears (the element right under the calendar). I'm able to turn the phone horizontally and scroll because I took out the scroll="false" out. I was wondering if there is a fix to this issue. Thanks.

[2016-08-23 23:15] xiaolongtang commented on #77
@twinssbc right, it is every half hour in a column. Thank you so much.

[2016-08-24 00:35] twinssbc commented on #78
@Mathijs003 If you check the demo page, I declared the ion-nav-bar out of each view, so there won't be two nav-bars.

[code]

[2016-08-24 00:39] twinssbc commented on #80
@williamk705 May I know if you only want to display the month view?
If you took out scroll="false", the month view can work, but week view and day view won't work.

[2016-08-25 17:12] suphatmeen opened #81 "How to set time 24hr in week mode"
i need help , how to set time 24hr don't AM PM in mode week , it possible?

[2016-08-25 18:03] suphatmeen commented on #81
i can set formatHourColumn: 'HH' :+1: , thk

[2016-08-25 23:50] #81 closed

[2016-08-28 00:14] #21 closed

[2016-08-28 00:15] #24 closed

[2016-08-28 08:00] twinssbc commented on #60
@bianchimro I have added view customisation support in version 0.3.0.
It now supports customisation the event cell in month/week/day view and the event detail section in month view.

[2016-08-28 08:00] #57 closed

[2016-08-28 08:01] twinssbc commented on #56
I have added view customisation support in version 0.3.0.
It now supports customisation the event cell in month/week/day view and the event detail section in month view.

[2016-08-28 08:10] twinssbc commented on #51
@hamad251 I have added view customisation support in version 0.3.0.
Mark the weekends using different background color is also supported.

[2016-08-28 08:14] twinssbc commented on #18
I have added view customisation support in version 0.3.0.
It now supports passing the customised template for the event cell in month/week/day view and event detail list in the month view

[2016-08-28 08:15] twinssbc commented on #22
I have added view customisation support in version 0.3.0.
It now supports passing the customised template for the event cell in month/week/day view and event detail list in the month view

[2016-08-28 08:15] #22 closed

[2016-08-28 10:10] bianchimro commented on #60
great @twinssbc, thanks a lot for your work, I'm going to test it this week in a couple of use cases and let you know how it goes.
I'm going to close this issue now, thanks again!

regards
Mauro

[2016-08-28 10:10] #60 closed

[2016-09-06 11:11] bartsimp opened #82 "customized monthviewDisplayEvent.html template and slide action"
customizing the month cell with

`<div>{{view.dates[row*7+col].label}}</div><div>. . .</div>`

when I slide the month to the next (or prev), the cells shows only the day number and not my custom template

[2016-09-06 15:04] twinssbc commented on #82
@bartsimp Could you provide the snippet that how you specify the template option?

[2016-09-07 07:12] bartsimp commented on #82
actually I checkout the branch 0.3.0 and used the demo code.
I have not done changes except edit dist/js/calendar-tpls.js as follow:

`+++ dist/js/calendar-tpls.js
@@ -1285,7 +1285,7 @@ angular.module("templates/rcalendar/month.html", []).run(["$templateCache", func

 angular.module("templates/rcalendar/monthviewDisplayEvent.html", []).run(["$templateCache", function($templateCache) {
   $template

[2016-09-07 16:10] twinssbc commented on #82
@bartsimp I tested and can see the extra div under the day number.
Could you use browser dev tool to check if it's not loading template file from some where else?
Also check the extra div in the template is not hidden?
Actually you don't need to modify the template directly, version 0.3.0 allows you to directly pass an external template url.

[2016-09-08 19:58] bartsimp commented on #82
I try to explain with this screenshot

![screen](https://cloud.githubusercontent.com/assets/5881271/18364397/72c270a2-760e-11e6-84c7-d1df2ff7646d.png)

as you can see, while I slide from september to october the template is not used (instead is applied when the slide action is finished)

In addition there is a problem with heights . the events overlap to calendar.
It is just my problem?

[2016-09-08 23:23] twinssbc commented on #82
@bartsimp
This is because I don't apply the same template to the previous/next month.
It simply just renders the day number. Because there's no event associated, there's no need to apply a template on it.
You can apply some customised css to make the height of the cell are the same in previous/current/next month.
If you want to also display the same content in previous/next month, you can modify t

[2016-09-09 07:33] bartsimp commented on #82
thanks!

[2016-09-09 07:33] #82 closed

[2016-09-21 14:18] cristhianbarros commented on #43
@chandan4871 I had the same problem. Because I needed to refresh the events when the function $scope.onViewTitleChanged was called. To resolve it I copy and paste whole code into the function $scope.onViewTitleChanged. Like that:
$scope.onViewTitleChanged = function (title) {
        dateWeekStart = new Date(title);
        $scope.titleMonth = months[dateWeekStart.getMonth()];

        strDateWeek

[2016-09-22 09:41] twinssbc commented on #43
@cristhianbarros
rangeChanged method should be the most suitable one to use.
In that method, you will get the startTime and endTime of a range.

[code]

But in onViewTitleChanged, the only parameter is title.
It seems you don't need to leverage the startTime and endTime parameter, because you are querying like this: $http.get('url_api'). I guess your backend just returns all the events. It's a bit

[2016-09-28 11:59] rahulg09 opened #83 "How to disable previous dates?"
Hello,

How to disable previous dates? I want to select only the current date and next dates.

[2016-09-28 13:39] twinssbc commented on #83
@rahulg09
If you just want nothings happens when user clicks the previous dates, you can add customized logic in the **timeSelected** callback function.
If you want to change the view to display the previous dates in some grey background, you can pass your own template file into **monthviewDisplayEventTemplateUrl**.
You can refer to the README to get more information.

[2016-09-28 14:04] Pyraminds opened #84 "how to raise an event"

[2016-09-28 14:28] Pyraminds opened #85 "How to set an event"
I want to set an event. In this calendar, events are selected in an random order

[2016-09-28 15:09] twinssbc commented on #85
@Pyraminds

As you can see in the demo source code, the random events are assigned to $scope.calendar.eventSource which is bound to event-source attribute when declaring the calendar directive.

[code]

You just need to fill the eventSource with your own events.
Btw, the calendar supports two query modes, local and remote.
The demo source code is using local mode, so you just assign the eventSourc

[2016-09-28 15:09] twinssbc commented on #84
@Pyraminds
Is this issue duplicate with #85 ?

[2016-09-28 15:29] Pyraminds commented on #84
yes

[2016-09-28 15:30] #84 closed

[2016-09-28 15:34] Pyraminds commented on #85
Thanks for your reply.But I am new  to ionic and angular , if you provide one own event with an example,it would be grateful to me.

[2016-09-28 18:33] Pyraminds commented on #85
@twinssbc

Thanks i have followed you instruction for integrating this into my existing app, i didn't get any output ,only blank screen is opened there is nothing other than that.please help me with the above and this issue.

thanks a lot for your help.

[2016-09-29 00:09] twinssbc commented on #85
@Pyraminds
This createRandomEvents just populate the events with some random string.
You just need to set the event using your own data.
You can get the event field according to README.

Regarding your blank screen issue, could you provide your code so that I can know how do you use this calendar?
Also is there any error printed in the console?

[2016-09-29 05:50] Pyraminds commented on #85
@twinssbc

Thanks For your Response
events [] i changed to like this
`var events = [{
             title:'meeting',
             startTime:'new Date(Date.UTC(2016, 9, 29))',
             endTime:'new Date(Date.UTC(2016,9, 29))',
             allDay: true
           },
           {
             title:'birthday',
             startTime:'new Date(Date.UTC(2016, 10, 1))',
             endTime:'new Dat

[2016-09-29 06:52] Pyraminds commented on #85
@twinssbc
i added my own events to your app i am getting it.but when coming to integrating into my app
blank space coming instead of calendar.

[2016-09-29 13:14] twinssbc commented on #85
@Pyraminds
When you open the browser dev toolbar, is there any error displayed in the console?
If you put some divs before and after the <calendar>, are these divs displayed correctly?
Could you use browser dev toolbar to hover on the elements to see if their height are set properly?

[2016-09-29 17:07] Pyraminds commented on #85
@twinssbc

There is no error in console , and the other content placed in the calendar.html file is displayed fine.

below  is the screenshot for the output
![capture4](https://cloud.githubusercontent.com/assets/19423746/18964159/457b57d4-8695-11e6-9010-afbb39a8881e.PNG)

[2016-09-29 19:37] GijsGoudzwaard commented on #83
I need this as well, this should be a build-in option.

[2016-09-30 00:05] twinssbc commented on #85
@Pyraminds Could you check what's the height of the calendar DOM element in calendar.html?

[2016-09-30 13:49] bartsimp commented on #51
how? I can't find any documentation about it....tnx

[2016-10-04 13:22] vaskolekoski opened #86 "How to hide days from previous month and future month ? see example"
Hello,

How to hide days from previous month and future month ? see picture below

https://www.dropbox.com/s/o5owk36djxhl6xm/git-hub-insue.png?dl=0

thanks

[2016-10-04 15:59] jmanojkumar27 opened #87 "calendar"
how to i set the date as 1 in every scroll of month view?
when i try to set the date as 1 in every month view it works in month view but it affects in  the week and days view .
when i selected on event from month view and i try to see in week view it shows selected event from month view to week view correctly but when try to scroll next week it shows the same week page.

[2016-10-04 16:10] jmanojkumar27 commented on #87
function getAdjacentCalendarDate(currentCalendarDate, direction) {
            var step = self.mode.step,
                calculateCalendarDate = new Date(currentCalendarDate),
                year = calculateCalendarDate.getFullYear() + direction * (step.years || 0),
                month = calculateCalendarDate.getMonth() + direction * (step.months || 0),
                date = 1 /*calculateCale

[2016-10-04 16:16] jmanojkumar27 commented on #87
https://plnkr.co/edit/SlewSrFKZeVW3lIpaBvY?p=preview

[2016-10-05 05:40] Pyraminds commented on #85
I don't know how to check the height of the calendar.

[2016-10-05 07:23] twinssbc commented on #85
@Pyraminds
In your browser dev tools, you can hover on a DOM element and it will display the property of that DOM element.

[2016-10-05 07:27] twinssbc commented on #87
@jmanojkumar27
You can change the current date by setting the variable bound to ng-model.
In the rangeChanged callback, you can first check the current calendar mode, then set the current date.

[2016-10-05 07:31] twinssbc commented on #86
@vaskolekoski
You can pass your customized template, check the monthviewDisplayEventTemplateUrl option in README.

[2016-10-05 07:34] twinssbc commented on #51
@bartsimp
Check the view customization option section in README.
You can pass your own template and add whatever binding logic you want.
For example, you can add a new field in the event to indicate holidays, and change the color based on that field.

[2016-10-05 09:31] Pyraminds commented on #85
height of the calendar is 100%

[2016-10-05 14:39] bartsimp commented on #51
@twinssbc trying to follow your suggestion, if I have more events on that day and only one of them tells me that that day is holiday, how do I scroll through the list of events to find an event marked as a holiday? I tried declaring a function similar to yours getHighlightClass () but I had to put it into the calendar-tpls.js file. there is a way to not alter your source? thank you
this is my cust

[2016-10-06 09:23] GijsGoudzwaard opened #88 "Suggestions"
These are some suggestions that I think a lot of people would benefit from:

- Disable previous dates (also disable going back to previous months)
- Disable dates (these should not be clickable and should have a custom class)
- Vertical scrolling (let people choose what they want)

I know these can be achieved by making some custom code, but a lot of people here are asking for the same things, so

[2016-10-10 12:24] twinssbc commented on #85
@Pyraminds If you switch to the Computed tab, could you find the height property of the DOM element?
Could you provide the full html code of that view? Apparently you have card layout elements also in this view.

[2016-10-10 14:53] twinssbc commented on #51
@bartsimp Yes, it seems the source code has to be modified to achieve your requirement.
I will expose some option to allow passing in a list of holiday dates in a future version.

[2016-10-10 15:03] twinssbc commented on #88
@GijsGoudzwaard Thanks for the suggestions.
Item 1 and 2 are relatively easier to implement, I will try to add them to the next version.
Item 3 is difficult, because it is based on the ion-slide-box which doesn't provide vertical scrolling in Ionic 1. It will require a lot of code change.

[2016-10-10 15:58] GijsGoudzwaard commented on #88
I primarily need the first 2, the third was just a 'nice to have'.
It'd be great if you could add the first 2!

[2016-10-11 13:45] jmanojkumar27 commented on #87
thx that issue as been fixed

[2016-10-11 13:48] jmanojkumar27 commented on #87
your calendar.css is not supporting for all device . espeacially tabs and ipad how could i resolve it .so i am writing media querie for the piexls

[2016-10-11 14:48] jmanojkumar27 commented on #87
any other way to use your css file .without writing the media queries

[2016-10-11 15:26] twinssbc commented on #87
@jmanojkumar27 Why it's not working in tablets and iPads?
If you open the demo page in the browser and resize the browser, you will see the calendar is responsive.

[2016-10-14 18:41] manvelt opened #89 "Day View hour intervals"
Hi,

Is there a way to display a row for every half hour in the day view?
This is my best diagram for what I am trying to achieve. Any help
would be greatly appreciated. Thanks!
_______________________________________________________________
 12AM     |
__________|________________________________________________________
12:30AM |
__________|________________________________________________________

[2016-10-15 09:37] twinssbc commented on #89
@manvelt There's a **step** option can achieve your requirement. Kindly check the README.

[2016-10-17 20:10] manvelt commented on #89
I originally tried switching the step to 15 or 30 but it still displays the each hour in the day view page.

[2016-10-18 16:51] twinssbc commented on #89
@manvelt Do you mean you want the first column to display half hour like 12:30AM and 1:30AM?
The step option only places the events at the half hour position, but doesn't change the first column.
To achieve this, the source code has to be modified.

[2016-10-19 07:54] lmigula opened #90 "Error raised in Monthview"
Hi,
I stumbled over a little bug in the month view.

At line 627 of the calendar-tpls.js the code will run following error "TypeError: Cannot set property 'hasEvent' of undefined" when `timeDifferenceEnd - eps` is greater than 42.
The monthview works fine when making sure that timeDifference isn't greater than 42 before getting to the while loop
`if(timeDifferenceEnd > 42){
     timeDifferenceEnd

[2016-10-19 12:41] NisanurBulut opened #91 "Calendar event on-hold"
hi how can ı add on-hold function to for each event because ı want to delete a event from my database when ı touch long .. thanks

[2016-10-19 13:35] twinssbc commented on #91
@NisanurBulut You need to modify the source code to add the on-hold callback.
For example, in the weekview.html, you can add on-hold attribute the same as ng-click="eventSelected()" attribute.
You can follow the same way as eventSelected to expose the event to the client.

But one thing to note that in the current design of weekview and dayview.
The event width will become very small when there ar

[2016-10-19 13:55] twinssbc commented on #90
@Imigula
I'm still trying to reproduce it and so far no luck.
I can't understand how timeDifferenceEnd can be larger than 42.
As you can see the below code.
timeDifferenceEnd won't be larger than (et-st)/oneDay.
et and st are the date range of the current monthview, so it will be always 42 days, unless somewhere st and et are calculated wrong.
Any chance you know the error will happen on a particu

[2016-10-19 17:00] ghadeerrahhal opened #92 "Different color by event"
Hey. Is it possible to change the color of the event based on an event property?

Thanks
~Ghadeer

[2016-10-20 00:32] twinssbc commented on #92
@ghadeerrahhal It's possible.
You can pass in your own template which uses some event property.
You can get more detail from the View Customisation Options section in README.

[2016-10-20 12:52] lmigula commented on #90
Maybe it's something with the locale timezone.
I can reproduce the error in the october view in the demo that ends on the 5th of november.
The values for et, st,.. are the following for example:
`et: Sat, 05 Nov 2016 23:00:00 GMT
st: Sat, 24 Sep 2016 22:00:00 GMT
timeDifferenceEnd: 42.041666666666664
eventStartTime: Sat, 05 Nov 2016 12:35:00 GMT
eventEndTime: Sun, 06 Nov 2016 12:44:00 GMT
event: {

[2016-10-21 20:49] NisanurBulut commented on #91
hi yes ı did how to call ontouch evennt ? for example you call ebent selected function  event-selected="onEventSelected(event)" How must ı do it ? again thanks

[2016-10-22 02:40] twinssbc commented on #91
@NisanurBulut You need to expose that method to the user. Similar to how eventSelected is implemented.

In the scope declaration of calendar directive:
[code]

[2016-10-22 10:24] NisanurBulut commented on #91
sorry I am trying to modifying these operations.Should I modify calendar-tpls.js files ? thanks again

[2016-10-23 02:28] twinssbc commented on #91
Great.
Btw, I saw your previous comment.
calendar-tpl.js is generated.
It's better to modify the src/rcalendar/calendar.js, then use grunt build-tpls to generate the tpl file.

[2016-10-23 02:28] #91 closed

[2016-10-23 02:37] twinssbc commented on #90
@lmigula Yes, it's the time zone issue.
Let's say Sep 30 is the end of DST.
If I calculate like below, it will return 25 hours.
But I only have 24 cells for one day, so it will cause setting value out of range.
The same issue applies to the month view that you met.

Since I'm not in DST time zone, I'm not quite familiar about how calendar works in DST time zone.
May I know how the time related web

[2016-10-23 13:14] GijsGoudzwaard opened #93 "The timezone changes when I go to the next month"
When I go to the next month it will go from
`Sat Oct 01 2016 00:00:00 GMT+0200 (CEST)`

to
`Tue Nov 01 2016 00:00:00 GMT+0100 (CET)`

This is what i'm doing:
`$scope.onViewTitleChanged = function(title) {
        console.log(new Date(title));
    };`

It only happens when I go to the next months not the previous ones

[2016-10-23 14:48] twinssbc commented on #93
@GijsGoudzwaard
I think this is expected because of DST?

[code]

[2016-10-23 15:33] GijsGoudzwaard commented on #93
You set me on the right track, it was because of DST.
I managed to fix my problem by using new Date() instead of moment js

[2016-10-23 15:33] #93 closed

[2016-10-24 05:48] zeiphon opened #94 "Request: Event for user-initiated range change"
Hi,

Thanks for writing this particularly useful calendar control.
I'm using it in a context where the user may either interact with the control itself, or some external controls that will trigger a change of date that the calendar is using. The problem I'm having is that changing this date externally will cause the calendar control to fire the `rangeChanged` event.
I'm using the `rangeChanged` ev

[2016-10-24 12:56] twinssbc commented on #94
@zeiphon Since your code triggers the change, I think you should be able to tell the difference by yourself?
For example, when you trigger the change, you can also set a flag and check that flag in the rangeChanged callback.
I think in normal case, even the change is triggered externally, you still want the event get fired. For example, if you change the current date to one day in next month progr

[2016-10-25 02:08] twinssbc commented on #90
@lmigula I have fixed the bug and released in version 0.3.2.
Feel free to have a try. Thanks.

[2016-10-25 07:18] zeiphon commented on #94
Thanks for the response.

I was hoping to avoid a messy situation involving the use of flags and relying on often confusing digest cycles, but I can do this anyway.

[2016-10-25 07:18] #94 closed

[2016-10-26 12:36] NisanurBulut opened #95 "change calendar title"
hi, I change all view title with using tr.js angularjs source.But I cant change Week word.

![ekran alintisi](https://cloud.githubusercontent.com/assets/9026717/19726110/e2bf4c92-9b91-11e6-93a2-3a4d6daf613c.PNG)

[2016-10-26 14:45] twinssbc commented on #95
@NisanurBulut Actually calendar title is an option exposed to the user, you don't bother to change the source code.
When you declare the calendar directive in HTML, you just need to add the format-week-title option.
You can get more information from README.

[code]

[2016-10-26 18:24] adnanjarfy opened #96 "weekview cell color not changed"
thank you for your great work,
on weekview the color of the cell not changed when it get clicked
it raise the event but color not changed.

[2016-10-27 00:06] twinssbc commented on #96
@adnanjarfy Yes, I didn't add logic to change the display of clicked cell.
The reason that selected cell in the month view gets changed, is because it can indicate which date is selected and list all the events selected on that date.
But in weekview, it already lists all events.

[2016-10-27 08:31] NisanurBulut commented on #95
thanks I finish your help Good Works ! :)

[2016-10-28 07:26] lmigula commented on #90
@twinssbc Sorry for my late answer. I totally forgot about about the end of DST as a cause.
Since the end of DST means that the clock will be set back from 3am to 2am again and basically everyone hopes not to set a calendar entry at that time ;) Or as workaround it will be with a hint if it's 2am DST or 2am non DST.
As far as I can see your change works. I replaced it with my workaround and I didn

[2016-10-28 11:45] #90 closed

[2016-10-29 02:27] ghadeerrahhal commented on #92
Fantastic, thank you!

[2016-11-03 07:37] PradeepSmg commented on #56
How can I add an delete button for every event in event detail view for Month view.

[2016-11-03 16:59] twinssbc commented on #56
@PradeepSmg I exposed monthviewEventDetailTemplateUrl so that you can pass your own template for the event detail.

[2016-11-04 10:46] Debdazeworks opened #98 "How can I add a delete event functionality ?"
How to add a 'X' symbol and onclick event to delete a calendar event?

[2016-11-04 12:41] twinssbc commented on #98
@Debdazeworks Have a look at View Customization Options section in README. The calendar exposes some options to use your own template.

[2016-11-04 17:48] Debdazeworks commented on #98
I have changed https://github.com/twinssbc/Ionic-Calendar/blob/master/templates/rcalendar/displayEvent.html file, but no change is reflected. Am I doing right?

[2016-11-05 00:26] twinssbc commented on #98
So you directly modify the source code, in this case, you need to run grunt build-tpls to generate the dist file.
Actually you dont need to modify source code, just provide an external template file and assign to weekviewNormalEventTemplateUrl.

[2016-11-06 19:31] Debdazeworks commented on #98
I found "weekviewNormalEventTemplateUrl" in two places
1. https://github.com/twinssbc/Ionic-Calendar/blob/master/dist/js/calendar-tpls.js
2. https://github.com/twinssbc/Ionic-Calendar/blob/master/src/rcalendar/calendar.js

Where should I change ? I have downloaded the whole file in my local system and demo page is working. If I delete the templates\rcalendar\displayEvent.html in my file system, th

[2016-11-07 02:49] twinssbc commented on #98
@Debdazeworks you don't need to modify the source code.
You just create your own template file, for example, myTemplate.html.
When you declare the calendar, pass your own template to weekview-normal-event-template-url

[code]

[2016-11-07 07:04] Debdazeworks commented on #98
Thanks a lot man. It works.... (Y)

[2016-11-07 07:04] #98 closed

[2016-11-11 20:18] Arxi commented on #88
An enhancement of the Item 1 - it would be cool if we could define some kind of a range - first allowed date and last allowed date - and it wouldn't be possible to go to dates earlier than the first allowed date and also to dates later than the last allowed date.

For example, I only need three months starting from today, not earlier, not later.

[2016-11-14 04:40] eozuer02 opened #99 "Trouble with the css"
Guys can u help me
i use your ionic calendar but my display not like in the demo
can u help me to styling ?
because when i try to change the display nothing work for me i don't know why

![untitled](https://cloud.githubusercontent.com/assets/12868292/20253565/29e96ae0-aa5f-11e6-8231-9b13aaa513bf.png)

[2016-11-14 16:23] twinssbc commented on #99
@eozuer02 Could you provide the source code of the page which uses this calendar control?
It seems there's some margin above the calendar.

[2016-11-14 21:25] TheMeteoRain opened #100 "Adding events one by one and not losing them in process"
Hello,

Using your calendar as one of my school project's backbone. I've been changing the source code somewhat. Though I can't seem to find the place where I can modify it so that
A. I can add an event
B. Add another event without losing the last one
C. Keep doing that

I'm not using backend techniques, just plain local storaging.
Also I scrapped the randomEvent function. Made it so it only passe

[2016-11-15 00:11] twinssbc commented on #100
@TheMeteoRain You need to add a new event in a separate page.
Normally what you can do is:
1. Put a button somewhere which can navigate to a new page
2. Add the navigation logic in the timeSelected callback exposed by the calendar
Once you successfully added the event, you can navigate back to the calendar page and passes the events stored in local storage.

[2016-11-15 11:14] TheMeteoRain commented on #100
@twinssbc
Maybe I should have added more info. I have all the things mentioned.
I can access the selected date/data (that data comes from timeSelected, like you told) in calendar view and also I have a button to add event(not events).

Problem is whenever I add new event it replaces the old one, so I can never have multiple events.
I just need guidance where to fork the code, so it does not scrap

[2016-11-15 15:29] twinssbc commented on #100
@TheMeteoRain
I think your current approach is correct.
The calendar watches the eventSource array, whenever it's changed, it will refresh the view.

I don't quite understand what you mean by the new events replaces the old one.
When you add a new event, I suppose you add one more entry in local storage. And next time you fetch events from the local storage, there will be two entries and they both

[2016-11-15 16:11] TheMeteoRain commented on #100
@twinssbc
The same thing happens when you at your own createRandomEvents() function.
It will create events and shows them, but after you click it again, all the previous ones go away and are replaced with new ones. Hope that clears it up of what is happening.

But yeah. I think I got it now. Made my own events array. Seems to be working just fine with this.

[2016-11-15 16:11] #100 closed

[2016-11-16 00:02] twinssbc commented on #100
So the events being displayed are the ones in the events array. As long as the new event doesn't replace the existing event in the array, you should be able to see both the existing one and the new one.

[2016-11-16 09:38] Devl189 opened #101 "Load events automatically"
Is there any way to do this? I have tried loading it in the scope at launch it and with "onload" and "ng-init" in the html and there is no way, has anyone got it?

[2016-11-16 14:39] twinssbc commented on #101
@Devl189 Loading event in ng-init should work, is it possible that you are setting the eventSource array in a different scope?

[2016-11-17 08:25] Devl189 commented on #101
Already is solving, it was scope position problems

[2016-11-17 08:25] #101 closed

[2016-11-18 19:31] josecostamartins commented on #51
I was going to open a new issue but decided that this is close enough to my problem to ask here...
Is there any way to access the controller from inside the custom template?

I've tried using $parent, but with no success... Also, in case there is no way today, do you know what steps to make this possible (just point me in the right direction), I can try to solve this and send a PR

[2016-11-19 04:22] twinssbc commented on #51
@josecostamartins
I haven't figured out how to directly use $parent to access your own controller.
The only connection between the custom template and the scope in your own controller is the events passed to the calendar.
I'm thinking maybe you can add fields and methods to the events object, and then use them in the custom template?

[2016-11-19 07:03] ykarthikreddy18 opened #102 "Error While changing the mode to week view"
TypeError: Cannot read property 'NaN' of undefined
      at Object.ctrl._onDataLoaded (http://localhost:8100/lib/ionic-calendar/dist/js/calendar-tpls.min.js:1:20755)
     at Object.self.rangeChanged (http://localhost:8100/lib/ionic-calendar/dist/js/calendar-tpls.min.js:1:6683)
    at Object.self.refreshView (http://localhost:8100/lib/ionic-calendar/dist/js/calendar-tpls.min.js:1:5891)
    at link

[2016-11-19 08:08] twinssbc commented on #102
Could you debug to see which exact line in _onDataLoaded method throws this error? It seems the error is because trying to access an undefined variable.

[2016-11-19 10:33] ykarthikreddy18 commented on #102
eventSet=rows[startRowIndex][dayIndex].events

At dayIndex it is showing error.. Below is the html I'm using for viewing caledar

<calendar ng-model="calendar.currentDate" calendar-mode="calendar.mode" event-source="calendar.eventSource"  range-changed="reloadSource(startTime, endTime)"  event-selected="onEventSelected(event)" title-changed="onViewTitleChanged(title)"  time-selected="onTimeSelecte

[2016-11-19 14:23] GijsGoudzwaard commented on #88
@twinssbc Is there any sort of a time table on this? When will the next version release?

[2016-11-20 05:26] twinssbc commented on #102
Could you check whats the value in startRowIndex and dayIndex?also in which week you get this error? If you dont pass any events, will this error happen?

[2016-11-20 05:30] twinssbc commented on #88
Sorry, I dont have too much time recently, also need to put efforts on the Ionic2 version, thats why these features get delayed. I should be able to have some time in December to work on them.

[2016-11-21 02:11] aupadhyay opened #103 "Adding an 'AM' or 'PM' to event detail"
Hi!
I've been trying to figure out how to add the 'AM'/'PM' text to the end of my event detail in the month view. I've attached a picture of what I have so far.  [http://imgur.com/a/1SVMQ](http://imgur.com/a/1SVMQ)

How can I add the PM after both times?

[2016-11-21 11:19] ykarthikreddy18 commented on #102
Both startRowIndex and dayIndex  are coming as NaN.. and the error is not happening if i'm not passing any event.

Below code is my event generation code..

[code]

[2016-11-21 11:25] twinssbc commented on #102
Could u check if all events you passed in having valid startTime and endTime?

[2016-11-21 11:38] twinssbc commented on #103
U can provide your own custom view template, check monthviewEventDetailTemplateUrl option in README

[2016-11-21 11:57] ykarthikreddy18 commented on #102
Thankyou for your time @twinssbc .. It is the start time and end time problem.

[2016-11-23 23:24] aupadhyay commented on #103
Awesome I was able to figure it out using this code for my monthViewEventDetailTemplate:
[code]

Thanks!

[2016-11-23 23:24] #103 closed

[2016-11-27 20:12] #50 closed

[2016-11-27 21:11] yorki404 opened #104 "Time Format For Event"
Hello Everyone

I have a time format like this in my database : Mon Nov 28 2016 00:00:00 GMT 0200 (Egypt Standard Time)

How can i build an event using this format ?

[2016-11-30 06:18] hussainak opened #105 "Month View event detail display issue"
Hi @twinssbc

Please see the attached file. There is a difference in how month view events are displayed on iOS and Android, I have tested this on devices as well. I am using the latest release of ionic-calendar. Have you resolved this one before?

I have also removed my monthview-event-detail-template-url and tested, still the same issue.

Regards
<img width="813" alt="anamoly" src="https://cloud

[2016-11-30 23:50] twinssbc commented on #105
@hussainak Could you provide the html and css code related to this calendar control?
Is there any other elements after the calendar control in the same page?
Did you apply any css styles to that page?

[2016-11-30 23:55] twinssbc commented on #104
@yorki404, the startTime and endTime field in the event is the Date type. So you need to parse your datetime string fetched from your database into a valid string.
JavaScript has Date.parse method which accepts a string representing an RFC2822 or ISO 8601 date.
If your time format is special, you have to use your own way to parse it.

[2016-12-01 00:37] hussainak commented on #105
Calendar HTML

`<ion-view view-title="Planner">
  <ion-nav-buttons side="right">
    <button class="button" ng-disabled="isToday()" ng-click="today()">Today</button>
    <button class="button" ng-click="changeMode('month')">M</button>
    <button class="button" ng-click="changeMode('week')">W</button>
    <button class="button" ng-click="changeMode('day')">D</button>
  </ion-nav-buttons>
  <ion-co

[2016-12-01 05:02] hussainak commented on #17
Hi @antoine92190
Are you able to share your grid system implementation of this calendar?

[2016-12-01 13:04] yorki404 commented on #104
Thank you so much @twinssbc
I have made a work around using moment.js and slice() javascript method to make the calendar work with my dates.

Thank you again.

[2016-12-02 19:22] m4rky77 commented on #31
Hi @twinssbc , I try to change the week view in a three days view, starting in the present day.
I made the changes in the for sentences, and I change to 3, for the header date in:
[code]
These changes show the three days in the view, but when I move to change to previous or future three days, the view skip the other four days of the week.

How could I do that the view take the three days well?

Th

[2016-12-03 03:48] #104 closed

[2016-12-03 03:57] twinssbc commented on #31
@m4rky77 When moving to previous/next view, it will call getAdjacentCalendarDate to calculate the starting date of previous/next view.
In weekview, I set the step to 7 days. That's why it skips the other four days.

[code]

[2016-12-03 15:51] m4rky77 commented on #31
@twinssbc if I change the step to 3 , the view is repeated twice and continues to skip the other days of the week. It is strange.
I made a plnkr to show you that http://plnkr.co/edit/u5MB105qIrLuHX9N2ccV?p=preview

I will review the getAdjacentCalendarDate function.

Thank you

[2016-12-04 14:02] hussainak commented on #105
Hi @twinssbc
I tried playing around with css in chrome and unable to pinpoint why this is happening for iOS, were you able to look at this?

Regards

[2016-12-04 15:33] twinssbc commented on #31
@m4rky77 You also need to change _getRange method which calculate the startTime and endTime of the range given the current date.

                ctrl._getRange = function getRange(currentDate) {
                    var year = currentDate.getFullYear(),
                        month = currentDate.getMonth(),
                        date = currentDate.getDate(),
                        day = curren

[2016-12-04 15:36] twinssbc commented on #105
@hussainak If you set scroll="false" in Calendar HTML, will it work?

[2016-12-04 15:44] twinssbc commented on #105
Also event-detail-container has the margin-top which is set to be the height of the above calendar.
[code]
The calendar should contain 6 rows, but since you added below element above the calendar, only 5 rows are displayed. So you need to adjust the margin-top of the event-detail-container a bit.

[code]

[2016-12-04 16:27] m4rky77 commented on #31
@twinssbc Great, it's working with some changes in _getRange function.

[code]
I update the plunk with this change
http://plnkr.co/edit/u5MB105qIrLuHX9N2ccV?p=preview

Thank you very much!

[2016-12-05 00:30] hussainak commented on #105
Thanks @twinssbc
scroll = "false" seems to have fixed it but it is unable to override the margin-top css.
![image](https://cloud.githubusercontent.com/assets/1008911/20870529/1f62a23c-bade-11e6-9d1e-5144d52e2da9.png)

[2016-12-05 12:46] twinssbc commented on #105
@hussainak you can use !import or specify more specific rule to override css.

[2016-12-05 13:48] hussainak commented on #105
Thanks @twinssbc , using !important helped

[2016-12-05 13:48] #105 closed

[2016-12-14 03:34] syeduzairshah commented on #83
@twinssbc I have pretty much same use case, I want to disable certain days from the calendar. I am unable to use $scope functions inside my own template i.e. "monthviewDisplayEventTemplateUrl". Is there any other way to check this? as using scope variable I can check day for each date value and add particular behavior but how I can do that with that day only?

[2016-12-14 13:14] twinssbc commented on #83
@syeduzairshah You can use timeSelected callback, feel free to check README for more information about this method.

[2016-12-14 14:19] suranavarun opened #106 "Click on cell to create event"
Hi, How can i create an event by clicking on any of the cell in day/week view.

Varun

[2016-12-14 16:21] twinssbc commented on #106
@suranavarun The calendar itself doesn't provide a view to create an event.
When you click a cell in day/week view, it will trigger the timeSelected callback. In this callback, you can either navigate to another page or popup a dialog to allow user filling the new event detail.

[2016-12-15 02:49] syeduzairshah commented on #83
@twinssbc thanks for your acknowledgment, yeah I am already using timeSelected callback but I want to show those dates in the disable state too. can I access my scope variables or functions there?

[2016-12-15 13:40] twinssbc commented on #83
@syeduzairshah I tried to access the variables or functions in my own scope before, but failed to do that. The only way I can think out is through the events passed to the calendar. For example, you can add some customised fields or methods to that variable.
Also I plan to support disabled dates in the calendar, so you probably don't need to use this way in the near future.

[2016-12-15 14:33] bernardocout opened #107 "How to show a cell with a different colour?"
Hi!

I need to change the cell colour to show if a person is available or unavailable that day, how can I do this without modify the calendar's core?

Thanks in advance!

[2016-12-15 15:11] twinssbc commented on #107
@bernardocout The calendar supports view customisation. You can get more information from README.

[2016-12-15 15:17] bernardocout commented on #107
Yes, I was trying to change with view customization but I couldn't. I figured it out that I need to change the month template, specifically the behavior of getHighlightClass. Is there any way to do that?

[2016-12-19 00:26] twinssbc commented on #83
I have exposed a isDateDisabled callback in version 0.3.3.
Feel free to have a try.

[2016-12-19 00:30] #92 closed

[2016-12-19 08:32] adnanjarfy commented on #96
@twinssbc thank you for replay

[2016-12-19 11:24] suranavarun opened #108 "How to move from 1 day to another in day view"
Hi,

How do i toggle between days in day view/week view?

Varun

[2016-12-19 12:49] twinssbc commented on #108
@suranavarun You can either set the currentDate just like the Today button in the demo page or use the changeDate event.

[2016-12-19 13:01] twinssbc commented on #96
@adnanjarfy I'm afraid you need to modify the source code.
First you need to expose a selected field for each cell so that you can use ng-class to add customised style based on the selected field.
Next you need to modify the select method in the weekview to set the selected state for the clicked cell and reset other cells' state.
You can refer to the similar logic in the monthview.

[2016-12-20 20:49] suranavarun opened #109 "Split dayview/weekview hour label to 30min"
Hi,

Is it possible to split the hour display to 30min instead of 1 hour i.e showing it as 8AM,8:30 AM,9 AM,9:30 AM etc.

Varun

[2016-12-20 20:49] suranavarun commented on #108
Thanks

[2016-12-20 20:57] suranavarun commented on #106
@twinssbc here if i click on cell which already has a 30min event then how to get the selectedTime as the next 30min in timeSelected callback, i.e if 2PM to 3PM cell has an event from 2PM to 2:30PM, now how to click on 2nd half of the cell to get selectedTime as 2:30PM.

[2016-12-20 20:57] #108 closed

[2016-12-21 00:07] twinssbc commented on #106
@suranavarun The cell is from 2PM to 3PM, so you can only get the 2PM not 2:30PM.
Also note that, it's probably not easy to select the exact half hour in a mobile device.

[2016-12-21 00:09] twinssbc commented on #109
@suranavarun It's not possible unless changing the source code.

[2016-12-22 05:57] adnanjarfy commented on #96
@twinssbc thank you so much

[2016-12-22 08:17] twinssbc commented on #88
I have added isDateDisabled callback function to achieve the first and second feature requests.
Disabling going back to previous month is a bit tricky. I need to update the Ionic dependency so that I can leverage the feature in Swiper. I will implement it later.

[2016-12-22 08:17] #102 closed

[2016-12-22 08:19] twinssbc commented on #107
@bernardocout YOu don't need to modify the source code. You can write your own template html file and pass it to monthviewDisplayEventTemplateUrl option.

[2016-12-22 08:19] #96 closed

[2016-12-22 08:26] #95 closed

[2016-12-22 08:27] #77 closed

[2016-12-22 09:13] twinssbc commented on #51
I added isDateDisabled callback to support disabled dates.

[2017-01-02 10:55] Aswin7955 commented on #107
how can i give custom colour to the events? is there any options available like colour or event colour?

[2017-01-02 23:11] twinssbc commented on #107
@Aswin7955 The calendar doesn't provide the color related options. You can write your own template and use ngClass to apply different color to different event types.

[2017-01-04 09:40] Aswin7955 commented on #89
@twinssbc How to make the time in the day view and week view to 24hours time?

Thanks in advance

[2017-01-04 14:56] twinssbc commented on #89
@Aswin7955 You can use formatHourColumn option.

[code]

[2017-01-05 05:22] Aswin7955 commented on #89
@twinssbc in the html calender tag right?

[2017-01-05 14:44] Krypternite commented on #19
@twinssbc Thanks a lot.

[2017-01-10 10:24] veljkocasa commented on #40
I just installed version 0.3.3 and **startingDayWeek** not work...

[2017-01-10 10:49] veljkocasa commented on #40
@twinssbc  can you check or hint ?

[2017-01-10 13:28] twinssbc commented on #40
@veljkocasa startingDayWeek option is used like below. Could you have a try?

[code]

[2017-01-10 15:45] veljkocasa commented on #40
tnx @twinssbc  on quick response!

I was using it like you say, but when I added  **starting-day-month="1"** it started to work perfectly...
So I guess it have to be paired...

solution looks like
`starting-day-week="1"  starting-day-month="1"`

tnx again

[2017-01-16 13:42] Aswin7955 commented on #65
@twinssbc  I am trying to change the hour duration in day and weekly view. I have tried step. but not working.
Here is the code i have tried.

<calendar style="padding-top:2px;" ng-model="calendar.currentDate" calendar-mode="calendar.mode" event-source="calendar.eventSource"
                        range-changed="reloadSource(startTime, endTime)",
                        event-selected="onEventSel

[2017-01-18 20:18] danillocesar opened #111 "No events label not working"
I'm trying to set the label for no events and its not working.. help?

<calendar noEventsLabel="Nenhum evento" ng-model="calendar.currentDate" calendar-mode="calendar.mode" event-source="calendar.eventSource"
                      range-changed="reloadSource(startTime, endTime)"
                      event-selected="onEventSelected(event)" title-changed="onViewTitleChanged(title)"

[2017-01-19 00:05] twinssbc commented on #111
@danillocesar You could use the option as below
[code]

[2017-01-20 12:07] GijsGoudzwaard commented on #88
@twinssbc Do you have an estimation as to when the previous months can be disabled? I still need this for my app.

[2017-01-20 14:00] kovacssupki opened #112 "How to set weekview to custom time interval?"
It is possible to set weekview to an interval? and block all other date outside ? I need for an event to list activites inside an event.
Thanks

[2017-01-21 03:28] danillocesar opened #113 "How to disable previous date"
How do i disable previous dates? I want to change the previous date to a different color.

[2017-01-21 14:23] twinssbc commented on #113
@danillocesar You can use isDateDisabled option. There are more details in the README.

[2017-01-21 16:34] twinssbc commented on #112
@kovacssupki
Could you elaborate on your requirement? maybe provide a mockup?
Do you mean you only want to show certain days in a week instead of 7 days?
Or you still want to display 7 days, but not allow user to add/remove events to some dates?

[2017-01-21 16:49] debugerr opened #114 "$parent.$watch handler"
Hi

I think you should unregister the $parent.$watch handler on $destroy of your scope:

[code]

[2017-01-22 14:50] jmblank09 opened #115 "How to add the nav bar buttons and month title"
I'm in trouble understanding how to use your calendar. How can i add the Month with the buttons just like in your demo?
![image](https://cloud.githubusercontent.com/assets/21171734/22183252/87c89b38-e0f4-11e6-8ce8-73ac3281d3ac.png)

[2017-01-22 15:47] twinssbc commented on #115
@jmblank09
The title and buttons are actually not part of the calendar.
Have a look at the ion-nav-buttons in the ionic documentation.

[2017-01-22 15:52] twinssbc commented on #88
@GijsGoudzwaard
Displaying dates in previous months as Disabled is already supported. You can use the isDateDisable callback. As I said in the above comment, disabling navigating back to previous month is not supported yet. That feature is supposed to work in the new ion-slides which is based on Swiper. But I tried to use the new version and found that there's a bug which causes previous/next slid

[2017-01-22 15:55] jmblank09 commented on #115
Ohh ok. I thought it was part of your template. Thanks!

[2017-01-24 15:10] #115 closed

[2017-01-24 15:18] twinssbc commented on #114
@debugerr  Good catch! I have fixed it in version 0.3.4. Thanks!

[2017-01-24 15:18] #114 closed

[2017-01-24 22:22] guironm opened #116 "ionic version"
What ionic version is compatible with this.
I'm stilll a noob i am getting this error:
bower                                 ECONFLICT Unable to find suitable version for ionic

Can you tell me step by step from ionic install to this calendar?
is there a way to install your complete version with angular and ionic via npm or something?

thank you

[2017-01-25 09:11] kovacssupki commented on #112
So i have an event from 1july 2017 to 3july 2017 i want to show only these 3 days. or if it's posible to show  active only these 3 days and the rest to be blocked in the 7 days view. Thanks.
![untitled](https://cloud.githubusercontent.com/assets/2735943/22284237/f5a610f8-e2ee-11e6-9f38-520d58d2f1be.png)

[2017-01-25 15:12] twinssbc commented on #116
@guironm This calendar is compatible with the latest Ionic1 version, 1.3.2. If you want to use Ionic2, you can use the  Ionic2-Calendar.
This calendar is published in bower, so you just need to use below command to install the calendar. The depending Angular and Ionic will be installed automatically.

[code]

[2017-01-25 15:25] twinssbc commented on #112
@kovacssupki According to your screenshot, all days are displayed, and each event has different start time and end time. This layout is quite similar to my calendar's layout. I don't quite sure about your use case. Why do you want to hide days depending on the event? Let's say you have another event from July 2nd to July 4th. How do you want to display? Display July 1st to July 4th and block other

[2017-01-25 15:35] kovacssupki commented on #112
Where can i set the currentDay to the event start day let's say 1's july?
And in weekview-header i have only a text, i have to differentiate the day name with the number. so i will need a span in there? Is that possible?

[2017-01-25 16:03] twinssbc commented on #112
@kovacssupki If you use below option, you can change calendar.currentDate value to specify the currentDay. But it seems you want to highlight the current day? It's only possible in monthview.

[code]

The weekview header only supports date format, it doesn't allow such customization.

[2017-01-25 16:17] kovacssupki commented on #112
can we make an option to support html format to or an option for week view template?

[2017-01-25 23:20] danillocesar opened #117 "Events div not pushing content"
can you see it in the screen shot? i dont know how to fix this. Here's my html:

`⁠⁠⁠<ion-view view-title="{{viewTitle}}" class="bar-positive" controller="NovaReservaCtrl">
  <ion-pane>
  <ion-content class="padding">
  <calendar id="calendario" ng-model="calendar.currentDate" calendar-mode="calendar.mode" event-source="calendar.eventSource"
                      no-events-label="Não há reservas p

[2017-01-26 00:33] twinssbc commented on #117
@danillocesar Could you provide your code snippet that setting eventSource?

[2017-01-26 00:37] danillocesar commented on #117
`$scope.calendar.eventSource = loadEvents();
function loadEvents() {
    var events = [];
    for (e in eventosReservados) {
      var startTime = new Date(eventosReservados[e].inicio);
      var endTime = new Date(eventosReservados[e].fim);
      events.push({
        title: eventosReservados[e].titulo,
        startTime: startTime,
        endTime: endTime,
        allDay: false
      });
    }

[2017-01-26 00:38] danillocesar commented on #117
I have that div with some inputs and selects and i need them to go down as the events are showing.

i tried to put "position: relative" in the event label div but that start a another visual bug..

[2017-01-29 09:45] masia5 commented on #113
@danillocesar you can use something like
[code]
in the template add the attribute ```is-date-disabled="isDateDisabled(date)"```

[2017-01-29 09:52] masia5 opened #118 "Customize month header"
```format-day-header``` allows the header to be changed according to the angular options listed in https://docs.angularjs.org/api/ng/filter/date. However in a few situations this is not enough, for example how can I show only the first capital letter of the day?
Perhaps calling a callback function would fix it by letting the user to customize the header.

[2017-01-30 20:00] masia5 opened #119 "min month constraint"
It'd be useful to set a minimum month in order to block users from moving back if the current month view is equal to the min month value.

[2017-01-31 04:42] twinssbc commented on #119
@masia5 With the current version, it's not possible. I know the new slides in latest Ionic 1.3.2 version is based on Swiper, and it provides such disabling swiping functionality. But I found it doesn't work quite well. So it may take some time to get this feature.

[2017-01-31 19:12] masia5 commented on #119
What happen if you don't create the ```<ion-slide>``` block on the left of the min-month?

[2017-02-01 12:20] twinssbc commented on #119
I'm using the loop mode of the ion-slides, so when swiping left, it will go to the last slide in the loop. Btw, do you know the * isDateDisabled* option? At least it can give user indication that the previous date is disabled.

[2017-02-01 13:41] twinssbc commented on #117
@danillocesar If you remove the controls below the calendar, will the events be displayed?
Could you try some dummy events instead of the ones fetched from the backend?
What if you put a breakpoint on the loadEvents function, is it triggered?

[2017-02-07 09:12] jiboune opened #120 "Disable auto select day on swipe"
Hi there, thank you for your plugin, it works great!

However when I use the month view and I swipe to previous/next month, the same day is auto selected and I would like  to disable this behavior. How to do it ? thank you

[2017-02-10 21:03] lukeschuyler commented on #116
Can you adjust your bower.json to be `^1.1.1` then?

[2017-02-14 16:12] twinssbc commented on #120
@jiboune I will expose an option to allow disabling this behavior.

[2017-02-15 13:41] twinssbc commented on #116
@lukeschuyler I have adjusted the ionic version.

[2017-02-15 13:41] #116 closed

[2017-02-16 02:28] jmblank09 opened #122 "Is it possible to add event description to the EventSource?"

[2017-02-16 05:53] kuldeep49291 opened #123 "Add event issue"
when i add new event then it change the date and time diffrence after json.stringfy

        $scope.calender = {};
        $scope.calendarData = {};
        $scope.calender.ActionType = 'A';
        $scope.calender.EventType = 'EVENTS';
        var date = new Date();
        $scope.calender.ModifyDate = new Date(date);
        $scope.calendarData.StartDate = new Date($stateParams.fromDate);

[2017-02-16 14:26] twinssbc commented on #122
@jmblank09 Yes, you can add a description field in your event object, and use customized weekview normal event template to display it.
You can get more information from **View Customization Options** section in README.

[2017-02-16 14:33] twinssbc commented on #123
@kuldeep49291
I think it's not related to this calendar control, but related to the JSON.stringify method?
The different string may be caused by the timezone, if you want to compare if two date object are the same, it's prefer to convert them to UTC time first.

[2017-02-16 15:15] jmblank09 commented on #122
How can i automatically display the dates with events because when i'm calling the load event function it is not automatically shown when the calendar is opened

[2017-02-16 16:19] twinssbc commented on #122
The calendar displays events each time the eventSource array is changed.
I suppose you set the queryMode of the calendar to remote?
So you need to set the eventSource array in the rangeChanged callback method.

[2017-02-16 16:35] jmblank09 commented on #122
Is this what are you saying?
![image](https://cloud.githubusercontent.com/assets/21171734/23030505/f8043976-f4a8-11e6-8354-971a3fb33a73.png)

[2017-02-16 16:40] jiboune commented on #120
@twinssbc Ok great, any advices on where should I modify the code to perform this? I can't wait long otherwise I need to use another calendar plugin :/

[2017-02-16 17:23] tobeee opened #124 "Month view not working as expected"
Hi guys - wonder if anyone can help or has experience similar. I've copied the plugin, and copied the demo html/controller into my app. However the month view seems quite bugged out - the month isn't showing, nor is the "Event Info" when I click on a date (nothing happens)

The day/week view are working fine however!

Markup is as follows:

[code]

<img width="374" alt="screenshot 2017-02-16 17 21

[2017-02-17 05:44] kuldeep49291 opened #125 "TIme Format"
![screenshot from 2017-02-17 11 06 33](https://cloud.githubusercontent.com/assets/16224244/23053651/3042b13e-f501-11e6-83ad-7f0513e5f1d6.png)

I would like to use 12 hour format. please tell me which file to set the 12 hour format.

[2017-02-17 07:56] kuldeep49291 commented on #124
Now you are in Month view its working fine

[2017-02-17 08:23] tobeee commented on #124
Nope - the individual cells dont click at all... seems like there is 2
absolutely positioned divs on top of each other which breaks the display.
(as you can see, the events info is at the top of the calendar) Not quite
sure how this has happened - have you seen anything like this before?

On Fri, Feb 17, 2017 at 7:56 AM, kuldeep kumar <notifications@github.com>
wrote:

--
Toby Green

[2017-02-17 15:36] twinssbc commented on #124
@tobeee  Looks like some css issue. Did you override some default css styles? Could you use Developer Tools to check why "No Events" div appears at the top?

[2017-02-17 15:38] twinssbc commented on #125
@kuldeep49291 You can use the monthviewEventDetailTemplateUrl option to provide your own template for the event details.

[2017-02-17 15:39] twinssbc commented on #122
@jmblank09 Is this getEvents function async call? If it is, you need to modify the eventSource in the getEvents callback.

[2017-02-17 15:40] twinssbc commented on #120
@jiboune I will release a new version this weekend to include this option.

[2017-02-17 16:03] jiboune commented on #120
Fantastic thanks!

[2017-02-17 17:26] tobeee commented on #124
Yup it seems I had overwritten some Ionic CSS styles

On Fri, Feb 17, 2017 at 3:36 PM, twinssbc <notifications@github.com> wrote:

--
Toby Green

[2017-02-18 06:49] twinssbc commented on #120
@jiboune I have released version 0.3.7 which includes **autoSelect** option. You can set it to false.

[2017-02-18 06:53] jmblank09 commented on #122
angular.module('HIKAlendar.controllers')

.controller('CalendarCtrl', function($scope, $state, ValidationService, CalendarService){
  $scope.calendar = {};

  $scope.goToaddEvent = function() {
    $state.go('menu.calendar-options');
  };

  $scope.onViewTitleChanged = function (title) {
      $scope.viewTitle = title;
  };

  $scope.today = function () {
      $scope.calendar.currentDate = new Da

[2017-02-18 10:02] twinssbc commented on #122
@jmblank09 Oh, you just modify the array element in your callback. The calendar only watches the eventSource variable, not the element change in elementSource for performance reason.
Each time you can rangeChanged, it first returns an empty array, so the calendar gets nothing to display.
To fix that, there are two options.
1. You can directly set eventSource to the array you constructed in your ge

[2017-02-20 11:39] gsaikrishna32 commented on #92
when i am installing the plugin it is displaying errors like 'typings install'

[2017-02-20 11:45] gsaikrishna32 opened #126 "when i am installing the plugin naming npm istall ionic2-calendar --save"
it is displaying error naming typings install. I dont know how to rectify the error

[2017-02-20 11:56] twinssbc commented on #126
Not related to this version.

[2017-02-20 11:56] #126 closed

[2017-02-20 11:58] twinssbc commented on #92
@gsaikrishna32 Could you open a separate issue instead of commenting under existing issue?
You need to run below command to install typings.

[code]

[2017-02-21 05:39] gsaikrishna32 opened #127 "I had tried what u had said but i am facing an error by following these link https://m.youtube.com/watch?v=UVOV2hTkkvE"
![capture2](https://cloud.githubusercontent.com/assets/25900718/23152150/f862dcee-f825-11e6-9391-2325b01f628b.PNG)

[2017-02-21 06:17] gsaikrishna32 commented on #127
sry bro...........i had got the calendar UI.

[2017-02-21 06:39] gsaikrishna32 commented on #113
@danillocesar had u disable the previous dates in calendar

[2017-02-21 12:49] twinssbc commented on #127
Do you still have this issue?

[2017-02-21 12:49] twinssbc commented on #113
@gsaikrishna32 You can just follow the code snippet masia5 provided.

[2017-02-21 14:44] naziris opened #128 "Display more info on title."
I managed to integrate the Ionic-Calendar with an iCal parser, which gets live events from an *.ics file.
I would like to display the title of the event which is long, and also display the place.

I can do that in 2 different lines or have an auto scroll function on that cell.

Can you please give me some hints on where should I focus? I mean which file and which function?

I also tried to do titl

[2017-02-21 15:04] naziris commented on #128
Also, I would like to load the events on the calendar load(Without the need to click the load events button)
Im facing some issues as well

1. When the calendar is loaded at the beginning the title is missing/empty, to get the title I have to scroll to the next/previous month to get it displayed.
2. The same happens and when I load the events. I'm tabbing the load events button, but no events will

[2017-02-21 16:11] twinssbc commented on #128
@naziris You can use the view customization options to provide your own template to display the event in your way.
Regarding your second question, I think it may because of two reasons.
1. The events are loaded in async way, so you need to modify the eventSource array in your callback method.
2. Because of the performance reason, the calendar only watches the whole eventSource array variable inste

[2017-02-21 21:38] naziris commented on #128
Hi and thanks for your reply. Could you please specify the files needed to be modified?

[2017-02-22 00:47] twinssbc commented on #128
@naziris You don't need to modify any source code. These options are exposed to the user.

[2017-02-22 20:52] frank0ch0a opened #129 "The styles are missing"
I run the app with ionic serve, and the calendar looks well in the explorer, but when I run it in the ios simulator the it lose the styles, attaching image
![simulator screen shot 22 02 2017 9 58 20 a m](https://cloud.githubusercontent.com/assets/2018618/23231743/ea0d449e-f916-11e6-942d-ff3bba6041b2.png)

[2017-02-23 00:33] twinssbc commented on #129
@frank0ch0a May I know which version of the calendar and Ionic framework are you using?
Is it working in the real device?

[2017-02-23 21:44] frank0ch0a commented on #129
@twinssbc I am using ionic 1 , I fixed the problem changing the order of the url of stylesheets in the index.html file.

[2017-02-23 21:44] #129 closed

[2017-03-01 15:37] jmblank09 commented on #122
Your method is not working. How can i reload the calendar after i get the values.

[2017-03-01 15:46] twinssbc commented on #122
When you get the values you need to assign a new array to eventSource. The calendar will display the events in the new array.

[2017-03-01 16:00] jmblank09 commented on #122
I've assigned the array events to the eventSource but it is still not working. Can you please give a snippet example code?

[2017-03-02 14:03] twinssbc commented on #122
Try this?
And don't assign the return value of getEvents to $scope.calendar.eventSource.

[code]

[2017-03-02 14:46] jmblank09 commented on #122
I've tried that but nothing happened

[2017-03-02 14:56] jmblank09 commented on #122
Thanks! I've tried to use broadcast in the documentation along with your solution and it worked! Thanks a lot!

[2017-03-05 04:03] #122 closed

[2017-03-05 04:03] twinssbc commented on #127
Solved offline.

[2017-03-05 04:03] #127 closed

[2017-03-16 18:56] marcpursals opened #130 "Month view start on Monday"
Hi, is there any chance to set Monday as first day of month view?

Thanks in advance

[2017-03-17 00:57] twinssbc commented on #130
@marcpursals Yes, you can add "starting-day-month"=1 when declaring the calendar element in your HTML file.

[2017-03-19 00:04] Dofarian opened #131 "Column specific event."
I have a Taxi calendar app with 3 taxis available. The availability of each of the taxis is displayed on the calendar day view.  Each of the 3 taxis is displayed in different colors.

    The taxis are listed in order of colors on the day view page. For example , if Taxi 1 is red, taxi 2 is green, taxi 3 is yellow. The day view page would show the red event first, then the green event then the yel

[2017-03-19 06:26] twinssbc commented on #131
@Dofarian
To display each event in different color is easy, you can use dayviewNormalEventTemplateUrl option to customize the css styles applied to the event.
The tricky part is you want to stick one event in a particular column.
The calendar calculate the event width by dividing total event number in this timeslot.
I think one way is you always pass three events to the calendar, but set the backg

[2017-03-21 21:15] elewin opened #132 "should rangeChanged trigger onTimeSelected?"
Right now, onTimeSelected will trigger when you click a date box on the calendar, but swiping the calendar to a new month will also change the selected date but it will not invoke onTimeSelected since its (I assume) only looking for click events. However, if there is some functionality that depends on onTimeSelected to keep some other codepoint synced up with the date that is currently selected on

[2017-03-22 13:18] twinssbc commented on #132
@elewin Yes, this feature was raised in the Ionic2-Calendar and get added. But I didn't add it in Ionic-Calendar, as no one raised it before.
I will add it. But just to clarify the onTimeSelected event will be triggered after loading the events, because onTimeSelected provides the events happen on that date. When rangeChanged was triggered, the events hasn't been fetched.

[2017-03-24 13:52] kunalailani opened #133 "is it possible to show title inside cell bellow date?"
Hey, Thanks for this Awesome calendar ! I want to show the title for a specific dates inside cell (bellow date) that are passed in eventSource Array, but i m not able to find any options related to it.

is there any  way to accomplish this ?

[2017-03-26 23:54] twinssbc commented on #133
@kunalailani You can refer to the View Customization Options to display the events using your own template.

[2017-03-29 09:13] vinitmishraji opened #134 "How to add multiple color for multiple events"
var i = 1;
                        var j = 1;
                        var p = 1;
                        var f = 1;
                        scope.getHighlightClass = function (date) {

                            var className;

//                            if(date.hasEvent)alert(date.date);
//Satrt By Vinit
                            if (date.hasEvent) {
//                                alert(

[2017-03-29 10:39] vinitmishraji commented on #134
SOLUTION 👍
 <tr ng-repeat=\"row in [0,1,2,3,4,5]\">\n" +
                "                    <td ng-repeat=\"col in [0,1,2,3,4,5,6]\" id=\"{{view.dates[row*7+col].date.getTime()}}\" ng-clickVinit=\"select(view.dates[row*7+col])\"\n" +
                "                        ng-class=\"getHighlightClass(view.dates[row*7+col],view.dates[row*7+col].date)\" ng-include=\"::displayEventTemplateUrl\">\

[2017-03-29 10:39] #134 closed

[2017-03-31 11:13] nareshphuloria opened #135 "How to modify the calendar to appear like native calendar"
Hello,

I have integrated the calendar in our application and now would like to modify the styles in such a way that the calendar appear like native calendar, i.e. it should cover complete screen area.

Right now the calendar only covers top half of the mobile screen and rest of the screen is empty, which gives a vague appearance to the screen. Can you please help with this?

Thanks & Regards
Nare

[2017-03-31 12:48] twinssbc commented on #135
@nareshphuloria Are you referring to the monthview? Because the height of weekview and dayview actually exceeds the normal mobile screen height.
You could adjust the cell height to increase the height of the month view. But bear in mind that if you want to cover the exact height of the screen, which means occupy 100% height, it's always harder than occupy the 100% width, no matter it's on a mobile

[2017-03-31 12:56] nareshphuloria commented on #135
Thanks for a quick response.

Yes, I am referring to Month view only. I should have mentioned it earlier. My Bad.
I tried to increase cell height. Default is 37px. No matter how much I increase it. Its not reflecting that on screen. Regarding event details panel, I would be hiding it as my users would be traversing to new page when they click on any event.

[2017-03-31 13:04] twinssbc commented on #135
@nareshphuloria Where do you increase the height? There's a calendar-cell class in the css file, but it's not applied to the monthview table.
You may use styles like below to set the height of monthview table cell.
[code]

[2017-03-31 13:46] nareshphuloria commented on #135
With height:100px, the height of specific column is fixed. Which was again not helping me out as the calendar cells were going beyond device height.
I got the solution by using **height:100vh** on complete table. Like this
.table-bordered {
    height: 100vh;
    max-height:100vh;
}
100 vh means full screen size and we can use it from 1 to 100.

Thanks again for a your support and help.

[2017-04-01 01:51] twinssbc commented on #135
@nareshphuloria Yes, vh is a good way to achieve the effect. You may need to test the compatibility in different kinds of devices.

[2017-04-07 20:08] Mohansameer commented on #105
how to add click on event view

[2017-04-07 20:15] Mohansameer opened #136 "How to click on event"
In my project, I am try to click on event of selected date then I go to next page. So please tell me how to click on event view.
Thank you.

[2017-04-08 01:15] twinssbc commented on #136
@Mohansameer You can use event-Selected option as below and add the logic to navigate to other page in the onEventSelected method.
[code]

[2017-04-10 12:04] mark261092 commented on #109
@twinssbc : Hi, was curious to know if there was a way of doing this?  As 30 mins and 15 mins intervals?

[2017-04-10 13:04] twinssbc commented on #109
@mark261092 You can use "step=15" or "step=30" attribute to make the events displayed at 15 or 30 mins intervals. But it's not to also make the hour label display at 15 or 30 mins interval.

[2017-04-11 04:36] mark261092 commented on #109
that portion i've seen. Wanted to know if it was possible to change the hour label anywhere.

[2017-04-11 04:49] PadmajaKotteri commented on #109
@twinssbc Can you guide on how to split the hour label dynamically if possible?

[2017-04-11 06:29] riddhimcc opened #137 "How To Stop Change the Month?"
I have a requirement to select date from the exact date range. I need to disable the month change option.

[2017-04-11 15:29] twinssbc commented on #109
@PadmajaKotteri Sure, but it would require quite large amount of code change.
The whole table in the weekview is rendered by below ng-repeat loop.
You need to double the view.rows so that the table can contain 48 rows instead of 24 rows.
You also need to update _onDataLoaded to calculate the event startIndex and endIndex at 48 hours interval.

[code]

I can think out another simple but a bit hacky

[2017-04-11 15:31] twinssbc commented on #137
@riddhimcc Could you elaborate a bit more? In what circumstance you want to disable the month change? Currently the month change only happens when you swipe left/right or select a date in the previous/month directly.

[2017-04-13 07:47] tomexa opened #138 "View customization doesn't work"
Hi,
I have different event types and i need to set a specific color for each one of them, so I created a html template wrapping  the default {{view.dates[row*7+col].label}} with a span having the class name held by my event in your date object.
`<span class="{{view.dates[row*7+col].events[0].className}}">{{view.dates[row*7+col].label}}</span>`
Except that when I give the path to the template in th

[2017-04-14 08:15] tomexa commented on #138
To achieve what I wanted for now, I had to modify the getHighlightClass function in your cource code. I think it would be a great improvement if we could pass a custom function to the directive to replace the default one.

[2017-04-15 07:30] Hcroaker opened #139 "Display current year seperate"
Just wondering how I can display the current year separately to the current month.
I.e
<h1>current month</h1>
<h2>current year</h2>

Thank you :)

[2017-04-15 09:32] kunalailani opened #140 "after sliding, not able to navigate the calendar to a particular date"
Hey,
   i m not able to navigate the calendar to a particular date when i swiped forward and backward in moth view, the view is not updated.

[2017-04-16 07:05] twinssbc commented on #140
@kunalailani when you swipe left or right, is the title changed to the target month? Which version of  ionic and  calendar are you using? Is there any error in the console?

[2017-04-16 07:06] twinssbc commented on #139
Where do you want to display the current month and year?

[2017-04-17 00:22] twinssbc commented on #138
@tomexa You need to assign a variable to monthview-display-event-template-url, not hard coded string. This kind of syntax is not allowed in expression.

Suppose your template path is "../../main/templates/ionic-calendar-cell.html".
You can use the template as below:

In Controller:
[code]
In HTML:
[code]

The template syntax is correct. I've tested. You could also use ngClass.
[code]

In this way,

[2017-04-17 06:16] kunalailani commented on #140
@twinssbc Thanks for your reply. Let me rephrase my problem.
Once I swipe left or right in month view, the navigation of calendar to particular date is no more working.
But if I do the same thing before swiping month left to right, it works as expected. I m using ionic version 2.1.0 and calendar of version 0.3.7 and yes the title is changing as expected and there is no error in the console. Thank

[2017-04-17 07:51] #133 closed

[2017-04-17 12:55] twinssbc commented on #140
@kunalailani This control only works with Ionic 1.x. If you want to use Ionic 2.x, you need to use Ionic2-Calendar.

[2017-04-17 13:31] kunalailani commented on #140
@twinssbc sorry i thought you are talking about ionic cli version. i m using ionic v1.3.1 and calendar version  0.3.7,
sorry by mistake i have provided u with ionic CLI version.

[2017-04-18 05:19] akaushik79 opened #141 "Can't bind to 'eventSource' since it isn't a known property of 'calendar'. (""
Cordova CLI: 6.5.0
Ionic Framework Version: 2.2.0
Ionic CLI Version: 2.2.2
Ionic App Lib Version: 2.2.1
Ionic App Scripts Version: 1.3.3
ios-deploy version: Not installed
ios-sim version: Not installed
OS: macOS Sierra
Node Version: v6.10.2
Xcode version: Not installed

This calendar looks great however when i try to use it in my app then it shows above error. Below are the more details on error:

[2017-04-19 00:19] twinssbc commented on #141
@akaushik79 Could you provide your snippet that using this calendar? For example, how do you declare the calendar element in HTML and how do you set the binding variable in the controller?
It doesn't matter the data is coming from which source, the calendar only cares if eventSource is changed or not.

[2017-04-19 00:37] twinssbc commented on #140
@kunalailani Could you provide the code snippet that how do you use the calendar? For example, how do you declare the calendar element in HTML and set the binding variable in the controller?
How do you navigate to a particular date?
So you confirmed that the title is changed, what about the dates in the table? Is it changed accordingly?

[2017-04-19 01:40] akaushik79 commented on #141
Here is the code which i am using:
**HTML File:**
<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{viewTitle}}</ion-title>
        <ion-buttons end>
            <button ion-button [disabled]="isToday" (click)="today()">Today</button>
            <button ion-button (click)="changeMode('month')">M</button>
            <button ion-button (click)="changeMode('week')">W</button>

[2017-04-19 10:15] kunalailani commented on #140
@twinssbc Here is my code and please find the gif link below, that illustrate the problem more precisely.
**HTML Code**
`<ion-list>
     <ion-item ng-click="showSelectedDate()">
	 jump to
     </ion-item>
     <ion-item class="item item-divider item-icon-left item-icon-right text-center">
	<i class="icon ion-ios-arrow-back" ng-click="prevSlide()"></i>
	{{viewTitle}}
	<i class="icon ion-ios-arrow-r

[2017-04-19 14:38] twinssbc commented on #140
@kunalailani

If I understand the GIF correctly, the steps are as below:
1. When opening the calendar, the current date is April 19
2. Click jump to Dec 19, it goes to Dec 19
3. Click jump to Aug 19, it goes to Aug 19
4. Swipe left, it goes to July 19
5. Swipe left, it goes to June 19
6. Click jump to April 19, no change
7. Click jump to Mar 19, no change

Unfortunately I tried the same steps, not

[2017-04-20 14:48] kunalailani commented on #140
@twinssbc
Yes, I'm able to see the selected date in the console. No, there is no other way to reproduce the same.
The steps that you've mentioned above are correct, and producing error in my device.
I'm using Ionic v1.3.1, calendar v0.3.7 and using marshmallow device.

P.S: I've produced the same issue on Android L,M.

[2017-04-20 15:03] twinssbc commented on #140
@kunalailani Is there any way to just jump and swipe once to reproduce this error?
Also how do you swipe left? By clicking the left arrow or using a real swipe left gesture?

[2017-04-21 00:39] twinssbc commented on #141
@akaushik79 Are you using Ionic-Calendar in Ionic2 project? Ionic-Calendar is only compatible for Ionic1 project. You need to use Ionic2-Calendar.

[2017-04-21 00:40] #135 closed

[2017-04-21 10:11] kunalailani commented on #140
@twinssbc ok here are the steps which also reproduces the same.
1) open the calendar
2) swipe left or right (in either way)
3) jump to particular date

I used to swipe in both way by gesture and by clicking on left or right arrow.

[2017-04-25 09:48] amrutasd2994 opened #142 "event displays before submitting add event form"
I am creating events in week/day view. But when I click on any calendar cell to create event, firstly 'select' function gets called then the event gets created & displayed even before I submit add event form on the popup.
which i obviously want in exact opposite way- event must be displayed in calendar only after submit popup.

part of day.html-->
td class="calendar-cell" ng-click="openModal();sel

[2017-04-25 23:47] twinssbc commented on #142
@amrutasd2994 How is the return value of createAvailability get used?
The reason is probably because you are manipulating the eventSource array bound to the calendar when creating the to-add event. Instead you need to only manipulate the eventSource when submitting the form.

[2017-04-25 23:59] twinssbc commented on #140
@kunalailani Is this date a valid date object?
[code]

Today I was trying to reproduce this issue, so what I did is I added a button to set the currentDate to next month as below.
It's working.
[code]

But at the beginning it was not working, because the code is like below. The currentDate.setMonth actually returns the millisecond, instead of the date object.
I wonder if your code contains similar

[2017-04-26 10:31] PadmajaKotteri commented on #109
@twinssbc : Thanks a lot :) It involved lot of code editing but worked :)

[2017-04-27 07:34] kunalailani commented on #140
@twinssbc Thanks for your reply.
Yes,
`$scope.selectedDate = date;`
this date is a valid date as datepicker is returning date object. And i also tried,
`$scope.calendar.currentDate = new Date($scope.calendar.currentDate.setMonth($scope.calendar.currentDate.getMonth()+1));`
this example but the same thing happens it works before swiping left or right.
Is there anything related to direction? i tried

[2017-04-27 14:42] twinssbc commented on #140
@kunalailani
I'm thinking is it possible because below callback is treated as external event, so it doesn't trigger the Angular watch cycle? That's why you have to broadcast the change explicitly.
[code]
What if you add the changing date logic in a normal button ng-click callback?

[2017-04-28 14:12] kunalailani commented on #140
@twinssbc Ya, i have already tried it, i have putted below code in button ng-click callback itself
`$scope.selectedDate = new Date($scope.selectedDate.setMonth($scope.selectedDate.getMonth() + 1)); `
but the same thing happens not working after swiping left or right.
It only works if i broadcast change event  with the above code in normal button ng-click callback because here it jumps to the next

[2017-05-01 14:01] twinssbc commented on #140
@kunalailani I think out another reason for your issue.
I notice that you set the date like $scope.selectedDate = xxx.
But this $scope may not the same as the one used by the calendar.
Could you try a nested object, something like $scope.calendar.selectedDate = xxx?

[2017-05-02 11:03] kunalailani commented on #140
@twinssbc Thanks for your reply.
Yes, you are correct, it works setting the date with nested object.
Thanks a lot @twinssbc  Thank you for your time :)

[2017-05-02 13:16] #140 closed

[2017-05-14 01:52] yewness commented on #141
I had a similar issue with @akaushik79 with lazy loading (Ionic 3) around ion-tab to load the page. I was able to load to page by importing the page manual. Not sure about the real reason, but it should lie in the loading sequence between the app and the calendar module.

[2017-05-14 13:03] HugoPetla commented on #141
Same problem using Ionic 3.
`Unhandled Promise rejection: Template parse errors:
Can't bind to 'eventSource' since it isn't a known property of 'calendar'. ("

<ion-content class="has-header">
    <calendar [ERROR ->][eventSource]="eventSource"
              [calendarMode]="calendar.mode"
              [currentDate]="): ng:///EventosModule/Eventos.html@14:14
Can't bind to 'calendarMode' since it i

[2017-05-16 00:43] twinssbc commented on #141
@yewness @HugoPetla Are you trying to use this Ionic-Calendar component in Ionic3 project?
There's a separate Ionic2-Calendar component which is compatible with Ionic3.
You should use that project.

[2017-05-17 16:39] HugoPetla commented on #141
How can I install the correct version, @twinssbc? Can you help me? I did
[code]

[2017-05-17 17:23] HugoPetla commented on #141
I've installed using `npm install ionic2-calendar@0.3.x --save`, but the error still persisting.

[2017-05-18 00:22] twinssbc commented on #141
@HugoPetla Could you show me your html and ts code that is using the calendar?
According to the error, it says some property is missing on the calendar variable.
Did you define these properties in calendar variable?

Can't bind to 'eventSource' since it isn't a known property of 'calendar'.
Can't bind to 'calendarMode' since it isn't a known property of 'calendar'

[2017-05-18 00:34] HugoPetla commented on #141
My html
[code]
My .ts
[code]

[2017-05-18 14:24] twinssbc commented on #141
@HugoPetla How do you import the calendar component in your app.module.ts?
Which Ionic3 version are you using?
I suggest you start a clean Ionic project using the ionic cli, instead of directly upgrading from Ionic2 project.

[2017-06-07 06:09] akashsky44 opened #144 "how to show my orders data in calendar"
i integrate twinssbc/Ionic-Calendar in my project. i want to show my orders list display like evetnts show when i click on date show orders details i give to u my controller code but i dont understand how to do. i am trying but it not display anything.
![capture](https://user-images.githubusercontent.com/17689498/26864472-f85f7dbc-4b75-11e7-9f96-f3fd2d1d6d81.JPG)
![newcapture](https://user-images.

[2017-06-07 12:48] twinssbc commented on #144
@akashsky44 It's probably due to the eventDetail section is using ion-content, so it occupies the rest of the height. Could you try explicitly set the height see if any element below it can be displayed?
You could also use monthviewEventDetailTemplateUrl option to provide your own event details section to not use the ion-content.
[code]

[2017-06-07 13:01] akashsky44 commented on #144
How to disable previous and future days in month view by blank value how to do this.
![capture](https://user-images.githubusercontent.com/17689498/26879640-84e4876c-4baf-11e7-8086-a496b1b229d9.JPG)

[2017-06-07 13:05] akashsky44 opened #145 "How to disable previous and future days in month view by blank value how to do this."
![capture](https://user-images.githubusercontent.com/17689498/26879801-0b107198-4bb0-11e7-8501-ff0a7b622e28.JPG)

[2017-06-07 13:07] #144 closed

[2017-06-07 13:12] akashsky44 opened #146 "Why monthviewEventDetail.html updated."
i updated monthviewEventDetail.html by my own filter u see in below image. but it not show event detail time in 13:29 i want to show this in 1:29. how to do this. many times updated telmplate but any changes not perform.
![delerer](https://user-images.githubusercontent.com/17689498/26880081-ef319fc8-4bb0-11e7-8fdd-d207a9ac19c3.JPG)

[2017-06-07 13:42] #145 closed

[2017-06-08 07:10] akashsky44 opened #147 "Facing Events and Title Problem"
I would like to load the events on the calendar load(Without the need to click the load events button)
Im facing some issues as well

1. When the calendar is loaded at the beginning the title is missing/empty, to get the title I have to scroll to the next/previous month to get it displayed.
2. The same happens and when I load the events. I'm tabbing the load events button, but no events will be sh

[2017-06-08 13:22] twinssbc commented on #147
@akashsky44 I guess your load event method is an async call? You need to manipulate the eventSource in your callback. Also could you put a breakpoint in your onViewTitleChanged method see if it's triggered on loading?

[2017-06-08 13:35] twinssbc commented on #146
@akashsky44 Actually the template is already bundled into the released js file. So if you directly modify the html file in the templates folder, it doesn't take effect.
Take a look at monthviewEventDetailTemplateUrl option in README. You need to write your own template file and assign the path to this option.

[2017-06-09 06:17] #146 closed

[2017-06-09 06:42] akashsky44 commented on #147
please help me i m stuck in this how to solve  load event method is an async call. i dont understand how to do this. below here my controller

.controller('CalendarDemoCtrl', function ($scope, fireBaseData, $rootScope) {
    $rootScope.extras = true;
    $scope.monthviewEventDetailTemplateUrl = 'templates/calendarOrderDetail.html';

    'use strict';
    $scope.calendar = {};
    $scope.changeMode

[2017-06-10 13:31] twinssbc commented on #147
@akashsky44
This line doesn't work, as createRandomEvent won't return anything.
[code]

In your foo method, once you filled the events array, you just need to assign it to eventSource
[code]

[2017-06-12 05:40] akashsky44 commented on #147
thanks sir i need to load events without click events button when calendar is load events automatic show how to do this.

[2017-06-12 12:44] twinssbc commented on #147
@akashsky44
1. You could use ng-init method on your controller and load events in your ng-init method.
2. Your onViewTitleChanged method is responsible for setting the text of the view.
Could you put a breakpoint in your onViewTitleChanged method see if it's triggered on loading?
Also why do you need to put two {{viewTitle}}? Is it possible they are conflicting with each other?

[2017-06-13 06:12] Subarekha opened #148 "ionic1 calendar"
I am new pie to ionic.. help me to add events to calendar and highlighting that in calendar

[2017-06-13 07:32] akashsky44 commented on #128
Hii @naziris  how to resolve this issue i am facing same issue in my project please share with me.

[2017-06-13 11:21] twinssbc commented on #148
@Subarekha You could refer to the demo page.

[2017-06-13 12:00] Subarekha commented on #148
Thanks for you reply... I want to render the events in calendar like in
pure AngularJs responsive calendar plugin..Can u help me ?

On Tue, Jun 13, 2017 at 4:51 PM, twinssbc <notifications@github.com> wrote:

[2017-06-14 12:09] twinssbc commented on #148
@Subarekha As I said, you could use the code in demo page. Have a look at createRandomEvents method, once you fill in the eventSource array. The event will be displayed automatically.

[2017-06-16 21:20] jordanpurinton opened #149 "Custom templates not showing up"
I have created a custom `monthview-event-detail-template-url` in my project, however, when I run the project the custom component I created doesn't show up.

For example, I'm trying to modify the details section that is shown on the month view, however the same styles and elements are still there.

(in calendar-view.html)
`
<calendar monthview-event-detail-template-url="monthviewEventDetailTemplat

[2017-06-18 07:05] twinssbc commented on #149
@jordanpurinton Are you using Ionic 1 or 2/4? Because I see you pasted some ts file.
If you bind the template to the variable 'monthviewEventDetailTemplateUrl' as below:
[code]
You need to set the variable in your controller like below.
[code]

Don't directly modify the default template code in templates/rcalendar, it won't take effect. Because you probably are referencing the calendar-tpls file w

[2017-06-19 08:21] rosehashmi opened #150 "How to load aysnc events data into calendar?"
Aysnc events are not showing up? Any way to display database events into the calendar?

[2017-06-19 12:06] twinssbc commented on #150
You need to manipulate eventSource in the async callback. If you just modify the element in eventsource, you also need to fire eventSourceChanged event.

[2017-06-19 13:48] jordanpurinton commented on #149
I'm using Ionic 2. And I did what you stated and it still isn't giving me the expected result. Here is a screenshot of what I'm working with.

![capture](https://user-images.githubusercontent.com/12102971/27288331-a9e437f2-54c3-11e7-8363-481163305f41.PNG)

[2017-06-19 14:26] jordanpurinton commented on #149
Ok, so I found the solution I was looking for here: https://www.npmjs.com/package/ionic2-calendar

For some reason the documentation is more up to date there instead of this GitHub page. Thanks for the help and great calendar!

[2017-06-19 15:53] #149 closed

[2017-06-20 11:51] twinssbc commented on #149
@jordanpurinton Actually this repository is for Ionic1 version. You should check the documentation under
https://github.com/twinssbc/Ionic2-Calendar

[2017-06-20 13:18] folklove45 opened #151 "ionic1 calendar not working in iOS device"
Calendar event not working in iOS devices but working on bowser and Android devices. Help me please......

[2017-06-20 13:54] jordanpurinton commented on #149
@twinssbc Oh, whoops. Well thanks!

[2017-06-21 12:10] akashsky44 commented on #147
@twinssbc  how to do calendar load events without click on event button. i m trying many times but i cant do. please help me in my controller how to do calendar load events on startup, i m trying ng-init  but that not working so tell me where to put what lines of code and what to do changes in view part.

[2017-06-22 13:09] twinssbc commented on #151
@folklove45 Is there any error printed in the dev tools console?
 It's likely because of the date format issue. Could you check if that's the case?
https://stackoverflow.com/questions/4310953/invalid-date-in-safari

[2017-06-22 13:48] twinssbc commented on #147
In your html page, you could put ng-init like below:
[code]
Then in your controller code, you could fill the eventSource in the init function.

[code]

[2017-07-05 05:24] bbdangar commented on #141
Hello, any solution for this issue? I am also facing this issue. I have also tried with fresh ionic 3 installations but didn't work. here is my Ionic info

`global packages:

    @ionic/cli-utils : 1.4.0
    Ionic CLI        : 3.4.0

local packages:

    @ionic/app-scripts              : 1.3.12
    @ionic/cli-plugin-ionic-angular : 1.3.1
    Ionic Framework                 : ionic-angular 3.5.0

S

[2017-07-05 05:26] bbdangar commented on #141
this is the exception when running ionic serve

`Unhandled Promise rejection: Template parse errors:
Can't bind to 'eventSource' since it isn't a known property of 'calendar'. ("

<ion-content padding>
    <calendar [ERROR ->][eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate" (onCu"): ng:///AppModule/HomePage.html@9:14
Can't bind to 'calendarMode' since

[2017-07-06 19:37] abouttimeruss opened #152 "Month title change not working after date selection"
In the Month view, after I select a different day, the swipe to the previous or next month looks like it works, but it stays on the same month title. Before you select a different date, you scan swipe and it changes the title as expected. Is this a known issue already?

[2017-07-07 06:44] twinssbc commented on #152
@abouttimeruss It's working for me. May I know how do you set your viewTitle when swiping to the previous/next view? I guess it's likely you are setting the viewTitle on a different "scope".

[2017-07-07 15:15] abouttimeruss commented on #152
What you said lead me to the problem. Thanks!

[2017-07-07 15:15] #152 closed

[2017-07-12 14:12] beingfree opened #153 "start the day at 8 pm in the day and week view"
is there an option or a possibility to achieve this?
my 2nd question is where can I find the other values of options in the front page we can see the default value of each option but not the other values

[2017-07-14 14:24] twinssbc commented on #153
@beingfree Unfortunately there's no such option to achieve this feature. There's scrollToHour option in Ionic2-Calendar, but not ported into Ionic-Calendar.
Which option do you want to know its other available values? Normally these options are either string or boolean. Not many options have predefined set of values.

[2017-07-18 07:09] cryptomine14 opened #154 "View Customization Options - Weekview and Dayview"
monthviewEventDetailTemplateUrl works for me but weekviewAllDayEventTemplateUrl seems to be not working or I'm just not using it well..
The default value says 'templates/rcalendar/displayEvent.html' and inside the calendar-tpls.js the directive is the entire weekview..
I think I'm just confused.. Help would be greatly appreciated.. :)

[2017-07-19 05:22] yewness commented on #141
I think you have answered in the last comment of [#110](https://github.com/twinssbc/Ionic2-Calendar/issues/110).

For Lazy loading in calendar, you need to add calendar module in page.module as calendar is not understood when the page is lazy loaded.

[code]

[2017-07-19 12:35] twinssbc commented on #154
@cryptomine14 The calendar-tpls.js is already the dist file that inline the template into the js code.
In the calendar-tpls code, it uses below code to configure the template cache so that it won't fetch the template from the separate file, just uses the inline code.
[code]

May I know how do you specify the weekviewAllDayEventTemplateUrl?

[2017-07-19 16:14] cryptomine14 commented on #154
Thank you for the immediate response @twinssbc !

<calendar ... weekview-all-day-event-template-url="weekviewAllDayEventTemplateUrl"></calendar>
$scope.weekviewAllDayEventTemplateUrl = 'billWeekViewAllDayEvent.html';

In the templates the week.html is the part that I edited but when I specified it, it doesn't work..
I seem to be confused due to lack of sleep.. Can you specify how can I implement t

[2017-07-20 11:27] twinssbc commented on #154
@cryptomine14 Do you mean you modify the tpls file directly? If you set a customized template url, you should put your code in billWeekViewAllDayEvent.html.

[2017-07-20 13:58] cryptomine14 commented on #154
@twinssbc No because I can't implement a ng-if scenario if I modify the tpls file directly..
I copied the week.html from the templates/rCalendar, customized and bind it to the calendar but it doesn't work..
Can you provide a simple example on how to do it?

[2017-07-20 14:02] smuaq opened #155 "Combine Views"
Is there a way to combine the views & show them together? Like I want to show the day view with month view?

Thanks for the great calendar by the way!

[2017-07-21 14:36] twinssbc commented on #155
@smuaq It does not support display month view and day view at the same time. Different people may have different intention to display the events on a calendar. I chose the most common way to implement this calendar.

[2017-07-21 14:42] smuaq commented on #155
Right, thanks for your reply. I was looking to implement it in way that shows both week view along with the selected day's day view. I guess i'll have to customize it.

[2017-07-21 15:52] twinssbc commented on #154
@cryptomine14 The default value of weekviewAllDayEventTemplateUrl option is displayEvent.html not weekview.html in teamplates/rCalendar directory.

Below is an example, add a html file in your project, myTemplate.html. The content is
[code]

The HTML code to declare calendar
[code]

In the controller code,
[code]

[2017-08-04 00:55] eric7704 commented on #49
startingDayWeek: [1,3,5], its what I did, but other post said it has to be like this : starting-day-week="1", I was wondering where do you put the code, thanks.

[2017-08-04 14:49] twinssbc commented on #49
@eric7704 starting-day-week="1" means the week view starts from Monday. What effect do you want to achieve with [1,3,5]?

[2017-08-04 17:18] eric7704 commented on #49
Hi, thanks for the quick reply, For example in "fullcalendar" when you do "dow:[1,3,5]", means the recurring events will display one monday, wednesday, and Friday, how do i achieve this with ionic calendar, please help!

[2017-08-05 02:55] twinssbc commented on #49
@eric7704 staring-day-week is not for specific event. To display recurring event, you need to handle it by yourself. You could simply create three events.

[2017-08-09 10:59] mariansurdu opened #156 "How to set an interval of days in calendar?"

[2017-08-09 13:38] twinssbc commented on #156
@mariansurdu I'm not quite sure I understand your requirement. Do you want to only display several days? In which view? Maybe a mockup could help.

[2017-08-10 00:23] eric7704 commented on #49
Thanks, I got it figured out! Now facing different problem, how do I set different background colors to events?

[2017-08-10 20:48] eric7704 commented on #49
How do I change start hour column from 12 Am to 8 AM?

[2017-08-11 07:52] mariansurdu commented on #156
I want to select two days in calendar.And when i select the second date, days that are in interval to be enabled and the others to be disabled

[2017-08-12 00:57] twinssbc commented on #49
@eric7704 To set different background color, you could use a customized property in the event, then use a customized template to apply different css class based on the property.

To limit the hour column range, there's no native support for that.
You could apply below styles to hide part of the table.
[code]

[2017-08-12 06:33] twinssbc commented on #156
@mariansurdu I got your requirement. Let me expose an event to force refresh the calendar.

[2017-08-16 19:32] eric7704 commented on #49
Thanks, right now I have another request, how can I combine weekview and
month view toghether...

On Fri, Aug 11, 2017 at 5:57 PM, twinssbc <notifications@github.com> wrote:

[2017-08-20 12:34] twinssbc commented on #49
@eric7704 This calendar doesn't support this kind of customization.

[2017-09-01 19:45] eric7704 commented on #49
Hi, thanks for the replies, now facing a new problem, the timezone automatically pushes events one hour earlier, for example, my courses, start at 12:30, when I scroll to November weekview, courses' start time became 11:30, please help!

[2017-09-02 09:20] twinssbc commented on #49
@eric7704 You need to handle the DST by yourself. Because the calendar is not aware of the local  timezone.

[2017-09-02 17:35] eric7704 commented on #49
Thanks, I figured out, but what I cant figure out is, how to change hour column format from 10 am to "10" and "am" next line..... same as weekViewHeader format

[2017-09-03 00:08] eric7704 commented on #49
Hi, I got the hour column working, now moved on to another optimization problem, how come on every calendar weekview swipe, it always loads, like the events always display after. how to make events stay without loading everytime, thanks.

[2017-09-03 00:34] twinssbc commented on #49
@eric7704 If you will load all events from the beginning, you could set queryMode to 'local', just like demo.
If you still want to load events when swiping, just not that frequent, you could cache your loading result. Each time you swipe, if will trigger rangeChanged method. But you don't have to fetch events from back end each time.

[2017-09-05 12:34] en-sevilla opened #157 "Firebase integration example - Ionic 3"
Hi,

Please, has anyone a code example about how to integrate ionic-calendar 2 (ionic 3) with firebase? Which is the best approach?

 I think event list object should be syncrhonized via FirebaseListObservable<Events[]>, but I wonder is this is correct for a real-time app philosophy and if someone has an example, I am newby on Ionic 3.

Thanks in advance and congratulations to the author for this

[2017-09-06 22:08] eric7704 commented on #49
Not working....  how is each slides being generated?

On Sat, Sep 2, 2017 at 5:34 PM, twinssbc <notifications@github.com> wrote:

[2017-09-07 19:16] eric7704 commented on #49
How to highlight today's column too?

On Wed, Sep 6, 2017 at 3:08 PM, Eric Chen <ericchen@knowidea.ca> wrote:

[2017-09-08 10:03] JeongHwanMun opened #158 "can't change default of allDayLabel"
can't apply alldaylabel despite input

![a](https://user-images.githubusercontent.com/6779228/30206829-50041ad2-94c8-11e7-9a27-82e4d89a1d6b.JPG)

![test](https://user-images.githubusercontent.com/6779228/30206799-2f3d8fb8-94c8-11e7-9153-6bbca1e8bba5.JPG)

[2017-09-09 14:12] twinssbc commented on #158
@JeongHwanMun The allDayLabel only takes effect on the weekview and dayview. But I can release a quick fix for the month view.

[2017-09-10 02:45] twinssbc commented on #49
@eric7704 What do you mean not working? Is there any error message printed in the console?

There are 3 slides in a loop, each time swipe to a new month/week/day view, it will fill the days to the previous and next slide.

Highlighting a column in the table is a bit complicated, because it's not natural to a table DOM element. If you really want to, you could use view customization to provide your

[2017-09-11 11:48] raheelshan opened #159 "month detail view customization. ng-click event not working"
Hi, i am customizing view like this

    $scope.monthviewEventDetailTemplateUrl = 'templates/event-details.html';

Next i am customizing view by adding edit and delete controls when user views the details of event.

	<tr ng-repeat="event in selectedDate.events">
		<td class="event-detail">
			{{::event.title}}
		</td>
		<td><i class="icon ion-ios-pencil-outline" ng-click="alert('hello')">Edit Even

[2017-09-11 13:22] twinssbc commented on #159
@raheelshan Yes, it will try to look for method bind to the current scope, which is the internal scope in the calendar. So it can't call a method defined in your scope. As a workaround, you could add some method to your event object.

[2017-09-11 14:21] raheelshan commented on #159
i tried adding methods but it still fails.

[2017-09-12 23:39] twinssbc commented on #159
@raheelshan Could you show me how do you add the method, and what's the error message?

[2017-09-13 07:02] raheelshan commented on #159
For testing i added these into directive scope to see if it works

    eventDeleted: '&',
    eventEdited: '&',

Then in <calendar>

    event-deleted="onEventDeleted(event)" event-edited="onEventEdited(event)"

And added these two methods in controller

    $scope.onEventEdited = function (event) {
        console.log('Event selected:' + event.startTime + '-' + event.endTime + ',' + event.title);

[2017-09-16 13:23] twinssbc commented on #159
@raheelshan Do you mean you were trying to modify the source code but it didn't work?

[2017-09-19 00:14] twinssbc commented on #157
@en-sevilla Not sure if you have successfully integrated Firebase with the calendar.
This is for the Ionic1 version. I'm going to close this issue.
You could open a new one under https://github.com/twinssbc/Ionic2-Calendar, which works for Ionic 2 and 3.

[2017-09-19 00:14] #157 closed

[2017-09-21 09:01] Bhavana1622 commented on #22
I've tried this and it works for me. Hope this helps.

https://github.com/Bhavana1622/ionic2-calendar-event

[2017-09-25 19:28] abouttimeruss opened #160 "Click previous or next months date in current view messes up calendar"
In the Month view, if you click on a grey previous month day or next month day from the current calendar month view, it take you to that month, but the selected day starts going off. Then keep trying it for a previous month's day and it seems to get further out out of sync.

[2017-09-26 09:34] cooldp007 commented on #141
Hello, @twinssbc
I got this error after reading your github code for calendar

Uncaught (in promise): Error: Template parse errors: Can’t bind to ‘eventSource’ since it isn’t a known property of ‘calendar’.

[2017-09-26 09:46] cooldp007 commented on #141
**app.module.ts   file:-**

import { BrowserModule } from '@angular/platform-browser';
import { HttpModule } from '@angular/http';
import { NgModule, ErrorHandler } from '@angular/core';
import { IonicApp, IonicModule, IonicErrorHandler } from 'ionic-angular';

import { MyApp } from './app.component';

import { InAppBrowser } from '@ionic-native/in-app-browser';
import { IonicStorageModule } from

[2017-09-26 09:47] cooldp007 commented on #141
**search.html file:-**
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <img src="assets/img/menu.png" class="menu-image">
    </button>
    <ion-title>
      <img id="header_logo" src="assets/img/product/logo.png">
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="page-search">
   <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode"
       [cu

[2017-09-26 10:07] cooldp007 commented on #141
Hello, @twinssbc
I followed your github code
awesum document you made

now my query is  i saw my page blank

how to show calendar in my page?

[2017-09-26 14:05] twinssbc commented on #141
@cooldp007 Could you check if there's any error message printed out in the console? If there's no error message, maybe use the Developer tool to check the DOM elements see if it's hidden because of the wrong height or margin, etc.
Also once you identify the real problem, could you create a separate issue instead of leave comment in irrelevant issue?

[2017-09-26 14:14] twinssbc commented on #160
@abouttimeruss I can't reproduce this issue. Could you provide more details? Have you made any customization of the calendar? Do you meet the same issue in the Demo page?
http://twinssbc.github.io/Ionic-Calendar/demo/#/tab/home

[2017-09-27 12:28] cooldp007 commented on #141
@twinssbc ,

calendar is not showed due to scroll

so now i add scroll in my page and my problem is solved

[2017-09-27 13:29] #141 closed

[2017-09-28 19:01] kas84 opened #161 "DST bug"
Hi,
I am facing this issue where my I have an event on november 1st (when seeing it from monthview on october) that makes the event seem like two _(I am guessing due to DST)_

Debugging the code, I see that **timeDifferenceStart** is **37.083333333333336** and **timeDifferenceEnd** is **38.04165509259259**.

**index** is Math.floor of timeDifferenceStart so **37**.
**timeDifferenceEnd - eps** is *

[2017-09-30 01:50] twinssbc commented on #161
@kas84 eps is for handling the number precision. Because in JavaScript, it's common to get below result
0.2 + 0.4 = 0.6000000000000001
It will leads to not equal result. That's why I use eps.
May I know what's your startTime, endTime and time zone?

[2017-09-30 20:37] Zodar commented on #151
Same problem for me, my forms and other things with date work, but only the calendar don't show events, and only in iOS.

[2017-10-01 18:27] alkahtani opened #162 "style is missed up when adding tags directly before calendar tag"
I face an issue when adding any HTML tags  the calendar style get missing , the events shown behind the calendar , i tried also to extend nav-bar height the calendar is hiding behind the nav-bar
![image](https://user-images.githubusercontent.com/13502824/31057653-05442bb6-a6ef-11e7-82a6-20a1e17afb57.png)

![image](https://user-images.githubusercontent.com/13502824/31057657-425a809a-a6ef-11e7-86e0-

[2017-10-06 20:05] Zodar commented on #151
@folklove45 : Good answer from @twinssbc
It's work for me, my problem was:

iOS date format: 2017-06-06T20:53:11
my format: 2017-06-06 20:53:11

So this expression solved it:
myDate.replace(' ', 'T')

Good luck

[2017-10-10 15:24] twinssbc commented on #162
@alkahtani This is because by default the margin-top of the event detail section is set to fixed 262px as below.
You could adjust the margin-top according to the element height added before the calendar.
[code]

[2017-10-10 19:42] abouttimeruss commented on #160
Works. I needed range-changed="reloadSource(startTime, endTime)" declared in my calendar tag.

[2017-10-10 19:42] #160 closed

[2017-10-11 15:53] alkahtani commented on #162
@twinssbc  many thanks , this is fix the issue , it can be closed now . appreciate your help

[2017-10-12 23:23] frixtiglao commented on #113
@twinssbc Why the isDateDisabled  is not available on the Ionic2-Calendar?

[2017-10-13 14:28] #162 closed

[2017-10-16 19:06] victorglomer opened #163 "Events does not appear (sometimes) only in IOS"
Hi, my calendar works fine in browser (safari and chrome), and Android too.
But when I use it in IOS, the calendar shows up, but not the events.

I read that can be the time in safari, but I receive startTime and endTime in timestamp from api.
More info:
- the events exists, and sometimes they are shown, sometimes not
- when I scroll the calendar down (Update...) for 1 pixel or more, THE CALENDAR

[2017-10-16 19:45] victorglomer commented on #163
![captura de tela 2017-10-16 as 17 44 06](https://user-images.githubusercontent.com/6775495/31631845-ce6c1cd2-b299-11e7-859e-99f8e9211e47.png)

[2017-10-18 14:15] twinssbc commented on #163
@victorglomer Based on your description, I don't think it's because of the timestamp issue. It's more likely related to the css style. How do you declare the calendar in your HTML file? Did you customize any css style for the calendar?

[2017-10-18 15:43] victorglomer commented on #163
the view:

<ion-view  hide-back-button="true">
    <ion-nav-title>{{tituloPagina}}</ion-nav-title>
    <ion-content class="" scroll="true">
        <ion-refresher pulling-text="Atualizar..." on-refresh="atualizar()"></ion-refresher>
        <calendar
            ng-model="calendar.currentDate"
            event-source="calendar.eventSource"
            title-changed="onViewTitleChanged(title)"

[2017-10-18 15:46] victorglomer commented on #163
the view:

    <ion-nav-title>{{tituloPagina}}</ion-nav-title>
    <ion-content class="" scroll="true">
        <ion-refresher pulling-text="Atualizar..." on-refresh="atualizar()"></ion-refresher>
        <calendar
            ng-model="calendar.currentDate"
            event-source="calendar.eventSource"
            title-changed="onViewTitleChanged(title)"
            no-events-label="Nenhuma at

[2017-10-18 15:51] victorglomer commented on #163
There was some css for the calendar. I'll remove it and test now.

[2017-10-24 15:34] vikas-kalyan opened #164 "calendar is not loaded in view"
I have opened the modal in the another page  after that i open the calender in mypage the calendar month view in not loaded in the html

[2017-10-27 14:17] twinssbc commented on #164
@vikas-kalyan Sorry, I don't quite understand how to reproduce your issue.
Are you saying you have a page containing the calendar, but it's not displayed by default.
You go to another page to open a modal.
Then go back to the previous page to somehow display the calendar, but it doesn't appear?
Is there any error printed out in the console?

[2017-10-28 05:06] vikas-kalyan commented on #164
Yes your r right i also want to say that thing i mail you the screenshot
that appear it show one error but if i remive that it still nit shws the
calender

[2017-10-28 05:11] vikas-kalyan commented on #164
Yes your r right i also want to say that thing i mail you the screenshot
that appear it show one error but if i remove that it still not show the
calender

[2017-10-28 05:42] vikas-kalyan opened #165 "event1.startTime.geTime"
facing this issue event1.startTime.geTime is not a function.

attaching image
![whatsapp image 2017-10-28 at 10 59 34 am](https://user-images.githubusercontent.com/33048934/32131628-e2711d78-bbd0-11e7-8626-e4073e115a57.jpeg)

[2017-10-28 06:00] #165 closed